.about_flow_zone{
    margin: 0 auto;
    margin: auto;
    .abouts_how_title{
            margin-bottom: 0px;
    }
    .buyer_area{
        color: darkred;
    }
    .seller_area{
        color: darkblue;
        }
table td:first-child {
        white-space: nowrap;
}
    
}
.abouts_how_area{
        background-color: white;
        box-shadow: 0 0 2px lightgray;
        border-radius: 10px;
        display: block;
        padding: 5px;
}