.how_to_zone{
    .step_area{
        margin: 0;
        padding: 0;
    }
    .step{
        list-style: none;
        padding-left: 1.2em;
        text-indent: -1.0em;
    }
    .caution{
        color: dimgray;
        font-size: 13px;
    }
}
.pdf{
    height: 100vh;
}