.about_inquiry_flame{
        margin: 0 auto;
        max-width: 1000px;
}
.about_inquiry_area{
    background-color: white;
    box-shadow: 0 0 2px lightgray;
    border-radius: 10px;
    padding: 5px;
}