.home_show_zone{
    .home_label{
        margin-bottom: 0px;
        position: relative;
        padding-left: 5px;
        margin-top: 5px;
        .detail_link{
            //float: right;
            position: absolute;
            bottom: 0;
            right: 0;
            text-decoration: none;
            font-size: 15px;
        }
    }
    @media(min-width: 1000px){
        .swiper-service-container {
          width: 100%;
          height: 100%;
          position: relative;
        }
        .swiper-user-container {
            position: relative;
            width: 100%;
            height: 100%;
        }
        .swiper-slide {
            display: flex;
            width: 100%; /* カスタマイズ可能 */
        }
        .home_service_unit {
            //width: 20%;
            //float: left;
        }
        .swiper-button-custom {
            position: absolute;
            top: 55%;
            transform: translateY(-50%);
            z-index: 0;
            background-color: rgba(0, 0, 0, 0.5);
            color: white;
            padding: 10px;
            cursor: pointer;
            display: none;
            @media(min-width: 1000px){
                display: inline-block;
            }
        }
        .swiper-button-next {
            right: 0px;
        }
        .swiper-button-prev {
            left: 0px;
        }

    }
    .home_service_area{
        display: flex;
        width: 100%;
        height: 220px;
        @media (max-width:1000px) {
            height: 220px;
            overflow-x: auto;
        }
        z-index: 0;
    }
    .home_service_unit{
        margin: 0px;
        //width: 20%;
        height: 100%;
        flex-shrink: 0;
        display: inline-block;
        @media(max-width: 1000px){
            width: 160px;
        }
    }
    .home_user_area{
        display: flex;
        width: 100%;
        height: 180px;
        z-index: 0;
        @media (max-width:1000px) {
            overflow-x: auto;
        }
    }
    .home_user_unit{
        width: 250px;
        flex-shrink: 0;
        margin: 0px;
        //width: 20%;
    }
    .transaction_and_label{
        display: inline-block;
        max-width: 700px;
        width: calc(100% - 300px);
        @media(max-width:700px){
            width: 100%;
        }
        float: left;
    }
    
    .label_area{
        display: inline-block;
        width: 100px;
    }

    .category_label_area{
        display: inline;
        float: right;
        position: absolute;
        right: 0px;
        bottom: 0px;
        .category_label_flame{
            position: relative;

        }
        .category_list {
            display: inline-block;
            margin: 10px;
            border: 1px solid #ccc;
            padding: 5px;
            background-color: white;
            box-shadow: 0 0 2px lightgray;
            border-radius: 5px;
            //width: fit-content;
            width: 100px;
            font-size: 0.9em;
            position: absolute;
            z-index: 1;
            top: 12px;
            right: 0px;
            ul {
                list-style-type: none;
                padding: 0;
                margin: 0;
                a{
                    cursor: pointer;
                }
            }
        }
        .hidden {
            display: none;
        }
    }

    #category_button{
        color: blue;
        cursor: pointer;
    }

    #categoryList li {
        padding: 2px 0;
    }

    .label_and_more{
        @media (max-width:700px) {
            display: none;
        }
    }
    .label_and_categories{
        display: none;
        @media (max-width:700px) {
            display: block;
            position: relative;
        }
    }

    .category_area{
        float: left;
        width: 300px;
        //height: 200px;
        .category_flame{
            padding: 30px;
            width: calc(100% - 70px);
            height: calc(100% - 70px);
            margin: 5px 5px 5px 5px;
            border-radius: 5px;
            //background-color: white;
            border: 1px solid lightgray;
            //box-shadow: 0 0 2px lightgray;
            .link_area{
                width: calc(100% - 20px);
                display: inline-block;
            }
            .parent_link{
                display: inline-block;
                width: 100%;
            }
            .space{
                display: inline-block;
                width: 20px;
                height: 10px;
                //background-color: red;
            }
            label{
                font-size: 17px;
            }
            .category_link{
                margin: 5px;
                display: inline-block;
                font-size: 14px;
            }
        }
        @media(max-width: 700px){
            display: none;
        }
    }
    .swiper-slide {
        display: none;
    }
    .not-swiper-slide{
        display: inline-block;
    }
    .swiper-service-container{
        display: none;
    }
    .swiper-user-container{
        display: none;
    }
    @media(min-width: 1000px){
        .swiper-service-container{
            display: block;
        }
        .swiper-user-container{
            display: block;
        }
        .not-swiper-slide{
            display: none;
        }
        .swiper-slide {
            display: flex;
        }
        .to1000{
            display: none;
        }
    }
}