@import "_variables";
.list_zone{
	.service_cell:hover{
		text-decoration: none;
		background-color: whitesmoke;
	}
  	.service_cell{
  	  	height: 80px;
  	  	padding: 5px;
  	  	width: calc(100% - 20px);
  	  	display: block;
  	  	background-color: white;
  	  	margin: 5px;
  	  	border-radius: 5px;
  	  	box-shadow: 0 0 2px lightgray;
		$image_width: 80px;
		display: flex;
		.image_area{
			height: $image_width;
			width: $image_width;
			display: flex;
			margin-right: 5px;
			img{
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
		.title_name_area{
			width: calc(100% - 80px);
			display: flex;
			flex: 1;
			flex-direction: column;
			justify-content: center;
			align-items: center;
  	  		.title_area{
				color: $text_grey;
  	  		  	font-size: 14px;
  	  		  	display: inline-block;
  	  		  	width: 100%;
				font-weight: bold;
  	  		  	span{
  	  		  	  	float: left;
  	  		  	}
  	  		}
		}
		.user_info_area{
			height: 30px;
			width: 100%;
			display: flex;
			.user_image_area{
				height: 30px;
				width: 30px;
				display: flex;
				img{
					height: calc(100% - 5px);
					width: calc(100% - 5px);
					margin: 2.5px;
					border-radius: 50%;
					object-fit: cover;
				}
			}
			.user_name_area{
				display: flex;
				flex: 1;
				width: calc(100% - 40px);
				padding-left: 5px;
				align-items: center;
				.user_name{
					color: grey;
					font-size: 12px;
				}
			}
		}
		.date{
  	  		color: grey;
			display: flex;
			width: 100%;
			font-size: 12px;
		}
  	}
}