<div class="select_form_area">
	<div class="select_area category_select_area">
		<div class="select_display"><%=Category.find_by(name: f.object.category_name)&.japanese_name.presence || ""%></div>
	    <%= f.hidden_field 'category_name', required: true %>
	</div>
	<div class="category_selector">
	    <div class="modal_window category_modal">
	        <div class="modal_background"></div>
	        <div class="modal_window_body">
	            <label>カテゴリ一覧</label>
	            <div class="category_link_area">
	                <div class="category_link_flame">
	                    <% Category.hash_tree[:categories].each do |category| %>
	                        <%= render "user/shared/form/category_button", category:category %>
	                    <% end %>
	                </div>
	            </div>
	            <div class="modal_delete_area">
	                <p class="modal_delete">閉じる</p>
	            </div>
	        </div>
	    </div>
	</div>
</div>
<script>
$(function(){
    //これがないと特定のカテゴリが選択された状態で再びindexを開いた時に、category_modalが開くいてしまうため
    //$('a:not([data-method])').on('click', function(event) {
    //    //event.stopPropagation();
    //});
    $('.category_select_area').on('click', function(){
        $('.category_modal').addClass("open");
    });
    $('.modal_delete').on('click', function(){
        $('.modal_window').removeClass("open");
    });
    // カテゴリーリンクがクリックされたときのイベントハンドラ
    $('.parent_link').on('click', function() {
        // クリックされた要素の `name` 属性の値を取得
        var categoryName = $(this).attr('name');
        
        $('.category_select_area input').val(categoryName);

        $('.select_display').text($(this).text().trim());
        $('.modal_window').removeClass("open");
    });
})

</script>