<span class="category_button_area">
  	<div class="category_button" name="<%=category[:name]%>">
	  	<%= category[:japanese_name] %>
  	</div>
  	<% category[:child_categories].each do |category| %>
  	  	<div class="space"></div><%= render "user/shared/form/category_button", category:category %>
  	<% end %>
</span>