<div class="transaction_like_show">
  	<h3 class="input_new_title"><%= link_to "マイページ", user_configs_path, class:"main_area_top_link"%> ＞ いいねした回答 <%= paginate @transactions %></h3>
  	<% @transactions.each do |transaction| %>
		<%= render "user/transactions/cell", transaction: transaction %>
  	<% end %>
  	<%= paginate @transactions %>
</div>