const text = '<%= j(text).gsub(/\r\n|\r|\n/, "\\n") %>';
const max_length = 280;
var urlWithSpace = 22 + 2;//urlの前後にスペースが入るため-2 
var share_text = "";
var add_text = "...続きはこちら";

if(count_text(text) > max_length){
  //最後の文字の追加でオーバーにならないようにするため-1
  for(var i=0; count_text(share_text) < max_length - urlWithSpace - 1; i++) {
    share_text = text.substring(0, i+1) + add_text;
  }
}else{
  share_text = text;
}

var shareUrl  = 'https://twitter.com/intent/tweet';
shareUrl += '?text='+encodeURIComponent(share_text);
<%if Rails.env == "development"%>
shareUrl += '&url='+encodeURIComponent("https://hase744.github.io/ogp_test/?id=corretech_icon");
<% else %>
shareUrl += '&url='+encodeURIComponent(location.href);
<% end %><%=%>
console.log(location.href.length)
var shareArea = document.getElementById('twitter_share_button_area');
var shareLink = `<a href="javascript:void(0);" target="_blank" class="twitter_share share_button" id="twitter_share_button"  onclick="window.open('${shareUrl}', 'mywindow4', 'width=400, height=300, menubar=no, toolbar=no, scrollbars=yes');">Xで回答をシェア</a>`;
console.log(shareArea);
shareArea.innerHTML = shareLink;

//特定の文字がunicord形式で何文字分なのかを取得
function isCJK(c){ // c: character to check
    var unicode = c.charCodeAt(0);
    if ( (unicode>=0x3000 && unicode<=0x303f)   || // Japanese-style punctuation
         (unicode>=0x3040 && unicode<=0x309f)   || // Hiragana
         (unicode>=0x30a0 && unicode<=0x30ff)   || // Katakana
         (unicode>=0x4e00  && unicode<=0x9fcf)  || // CJK integrated kanji
         (unicode>=0x3400  && unicode<=0x4dbf)  || // CJK integrated kanji ext A
         (unicode>=0xff00 && unicode<=0xff9f)   || // Full-width roman characters and half-width katakana
         (unicode>=0x20000 && unicode<=0x2a6df) || // CJK integrated kanji ext B
         (unicode>=0xf900  && unicode<=0xfadf)  || // CJK compatible kanji
         (unicode>=0x2f800 && unicode<=0x2fa1f) || // CJK compatible kanji
         (unicode>=0xffa0 && unicode<=0xffdc) || // Hangul Half
         (unicode>=0x3131 && unicode<=0xd79d)    // Hangul Full
       )
         return true;
    return false;
  }

//特定の文字列のtwitter形式も文字数を取得
function count_text(text){
    var count = 0
    var length = text.length;
    for(var i=0; i<length; i++) {
        var character = text.charAt(i)
        if(isCJK(character)){
          count +=2;
        } else {
          count++;
        }
    }
    return count
}