var shareUrl  = 'http://www.facebook.com/share.php?u=';
shareUrl += encodeURIComponent("https://hase744.github.io/ogp_test/");
console.log(location.href)

var shareArea = document.getElementById('facebook_share_area');
var shareLink = `<a href="javascript:void(0);" onclick="window.open('${shareUrl}', 'mywindow4', 'width=400, height=300, menubar=no, toolbar=no, scrollbars=yes');" target="_blank" class="facebook_share"><i class="fab fa-facebook-f" aria-hidden="true">&nbsp;シェア</i></a>`;
shareArea.innerHTML = shareLink;