<% if Rails.env.development? %>
テスト用番号
<table>
  <tr>
    <td>Visa：</td>
    <td>4242424242424242</td>
  </tr>
  <tr>
    <td>Visa (デビット)：</td>
    <td>4000056655665556</td>
  </tr>
  <tr>
    <td>Mastercard：</td>
    <td>5555555555554444</td>
  </tr>
  <tr>
    <td>セキュリティコード：</td>
    <td> 任意の 3 桁の数字</td>
  </tr>
  <tr>
    <td>日付；</td>
    <td>任意の将来の日付</td>
  </tr>
</table>
<% end %>