<div class="service_review_zone">
<table class="service_review_table">
    <tr class="service_info">
        <td class="info_icon_area">
        <span class="fas fa-file-download"></span>
        </td>
        <td class="info_name_area">
            <span class="info_name">
                <span class="condition_name">回答形式</span>
                <spam class="coron"><span>
            </span>
        </td>
        <td class="service_info">
            <span class="service_condition"><%=service.delivery_form.japanese_name%></span>
        </td>
    </tr>
    <tr class="service_info">
        <td class="info_icon_area">
        <span class="fas fa-file-upload"></span>
        </td>
        <td class="info_name_area">
            <span class="info_name">
                <span class="condition_name">質問形式</span>
                <spam class="coron"><span>
            </span>
        </td>
        <td class="service_info">
            <span class="service_condition"><%=service.request_form.japanese_name%></span>
        </td>
    </tr>
    <tr class="service_info">
        <td class="info_icon_area">
        <span class="fas fa-yen-sign"></span>
        </td>
        <td class="info_name_area">
            <span class="info_name">
                <span class="condition_name">料金</span>
                <spam class="coron"><span>
            </span>
        </td>
        <td class="service_info">
            <span class="service_condition"><%=service.price%>円</span>
        </td>
    </tr>
    <tr class="service_info">
        <td class="info_icon_area">
        <span class="fas fa-sitemap"></span>
        </td>
        <td class="info_name_area">
            <span class="info_name">
                <span class="condition_name">カテゴリー</span>
                <spam class="coron"><span>
            </span>
        </td>
        <td class="service_info">
            <span class="service_condition"><%=Category.first.japanese_name%></span>
        </td>
    </tr>
</table>
</div>