.transaction_message_cell_area{
    display: inline-block;
    width: calc(100% - 10px);
    background-color: white;
    border-radius: 2.5px;
    //box-shadow: 0px 0px 2px lightgray;
    box-shadow: 1px 1px 3px gray;
    margin: 5px;
    .image_name_area{
        width: 100%;
        height: 40px;
        text-align: left;
        float: left;
        .image_area{
            display: inline-block;
            width: 40px;
            height: 40px;
            float: left;
            margin-right: 5px;
            .user_image{
                object-fit: cover;
                height: 30px;
                width: 30px;
                margin: 5px;
                border-radius: 25px;
            }
        }
        .time_name_area{
            display: inline-block;
            width: calc(100% - 70px);
            height: 30px;
            //float: left;
            margin-top: 5px;
        }
        .send_time{
            color: gray;
            font-size: 13px;
            display: inline-block;
            width: 100%;
            height: 30px;
            .user_link{
                color: grey;
            }
        }
        .user_name{
            margin: 0px;
            font-size: 13px;
        }
    }
    .message_text_area{
        .message_text{
            padding: 5px;
            white-space: pre-line;
        }
    }
    .image_area{
        //margin: 5px;
        .image{
            width: calc(100% - 20px);
            margin: 5px;
            object-fit: cover;
        }
    }
}