<% if contents.present? %>
    <% contents.each do |user| %>
        <div class="followed_user_area">
            <%= link_to(user_account_path(user.id), class: 'seller_area') do %>
                <%if user.image.url %>
                <%=image_tag user.image.url, class:"seller_image"%>
                <% else %>
                <%=image_tag "/profile.jpg", class:"seller_image"%>
                <% end %>
                <div class="seller_name_area">
                    <p class="seller_name"><%=user.name%></p>
                </div>
            <% end %>
        </div>
    <% end %>
<% end %>