<div class="user_service_zone service_cell_zone">
    <% contents.each do |content| %>
        <%= render "user/services/cell", service: content %>
    <% end %>
</div>
<%=  javascript_pack_tag "user/services/cell"%>