<table class="user_info_table">
    <tr>
      <td class="user_info_name"><label>評価</label></td>
      <td>
        <span class="user_info">
        <%if user.total_reviews >= minimum_total_reviews%>
            <%= render "user/shared/star_display", model:user %>
        <%else%>
        <%end%>
        </span>
      </td>
    </tr>
    <tr>
      <td class="user_info_name"><label>価格帯</label></td>
      <td>
        <span class="user_info"><%= render "user/accounts/service_price_range", user:user %></span>
      </td>
    </tr>
    <tr>
      <td class="user_info_name"><label>回答数</label></td>
      <td>
        <span class="user_info"><%=user.total_sales_numbers%>件</span>
      </td>
    </tr>
</table>