<div class="order_header_area">
    <h3 class="order_header_title">
        <% [
            {"label": "全購入", "user": "buyer", 'scope': 'all'},
            {"label": "全販売", "user": "seller", 'scope': 'all'},
            {"label": "購入中", "user": "buyer", 'scope': 'ongoing'},
            {"label": "購入済", "user": "buyer", 'scope': 'delivered'},
            {"label": "未購入", "user": "buyer", 'scope': 'undelivered'},
            {"label": "納品前", "user": "seller", 'scope': 'ongoing'},
            {"label": "納品済", "user": "seller", 'scope': 'delivered'},
            {"label": "未納品", "user": "seller", 'scope': 'undelivered'},
          ].each do |element| %>
            <%if  params[:user] == element[:user] && params[:scope] == element[:scope] %>
                <span class="current_condition"><%= element[:label]%></span>　
            <% else %>
                <%=link_to element[:label], user_orders_path(scope: element[:scope], user: element[:user]), class:"link" %>　
            <% end %>
        <% end %>
    </h3>
</div>