@import "_variables";
.connect_show_zone{
    .title_label{
        margin-bottom: 0px;
        margin-top: 10px;
        display: inline-block;
    }
    span{
        display: inline-block;
        font-weight: bolder;
    }
    .payment_enabled{
        color: white;
        border-radius: 15px;
        padding: 0px 20px;
        font-weight: lighter;
        font-size: 15px;
    }
    .false{
        background-color: orange;
    }
    .true{
        background-color: $ok_green;
    }
}