@import '_variables';
.chat_service_cell{
	display: flex;
	padding: 5px;
	cursor: pointer;
  color: $text_grey;
	.price_area{
		max-width: 300px;
		margin: 0 auto;
		text-align: center;
		 justify-content: center;
		font-size: 25px;
  display: flex;
  align-items: center;
		cursor: pointer;
		.price_label{
			font-size: 30px;
			color: darkred;
		}
		.unit{
			font-size: 20px;
		}
		.remaining{
			font-size: 15px;
		}
	}
	.purchasing{
		border-radius: 50px;
		display: inline-flex;
  	align-items: center;
  	line-height: 1;
		padding: 3px 7px;
		color: white;
		font-weight: bold;
		font-size: 12px;
		margin-right: 5px;
		background-color: #28a745;
	}
	.price_text {
  white-space: nowrap;   // ← ここだけでOK
}
}
.chat_service_cell:hover{
	background-color: whitesmoke;
  text-decoration: none;
  color: $text_grey;
}