.description_area{
  .description_text_area{
    border: 1px solid white;
    height: auto;
    //padding: 0 5px;
    transition: .5s;
    p{
        display: -webkit-box;
        margin: 0px;
        -webkit-box-orient: vertical;
        white-space: pre-line;
        overflow: hidden;
        @media(max-width: 1000px){
          font-size: 13px;
        }
    }
    .opening_text{
        -webkit-line-clamp: auto; 
    }
    .closing_text{
        -webkit-line-clamp: 3; 
    }
  }
  .change_text{
    color: gray;
    text-align: center;
    cursor: pointer;
    @media(max-width: 1000px){
      font-size: 13px;
    }
  }
  .open_text:after{
    content: "全文を表示";
    cursor: pointer;
    
  }
  .close_text:after{
    content: "一部を表示";
    cursor: pointer;
    
  }
    
}
