@import "_variables";
.common_table{
  	width: 100%;
  	border-collapse: collapse;
  	font-size: 1rem;
  	font-family: 'Arial', sans-serif;
  	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	margin-bottom: 10px;
  
    thead tr {
        background-color: $dark_text_yellow;
        color: #ffffff;
        text-align: left;
		padding: 5px;
		text-align: center;
    }

    .amount{
      	color: $text_grey;
    }
  
    .fa-plus{
      	color: darkred;
    }
    .fa-minus{
      	color: darkblue;
    }
      
    th, td {
        border-bottom: 1px solid #dddddd;
    }
    tbody td{
      	color: $text_grey;
		cursor: pointer;
    }
      
    tbody tr {
        border-bottom: 1px solid #dddddd;
    }
      
    tbody tr:nth-of-type(even) {
        background-color: #f3f3f3;
    }
      
    tbody tr:last-of-type {
        border-bottom: 2px solid $dark_text_yellow;
    }
    table{
      	margin-bottom: 10px;
    }
    td:first-child{
      	padding: 5px 10px;
    }
    td:last-child{
      	font-size: 10px;
      	color: dimgrey;
    }
  
    .image{
      	width: 50px;
      	height: 50px;
      	object-fit: cover;
      	border-radius: 5px;
    }
	.number{
		text-align: right;
		padding-right: 5%;
	}
      
    .fa-solid {
      	margin-right: 5px;
    }
}