@import "variables";
.component_area{
    background-color: white;
    box-shadow: 0 0 2px lightgray;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    .component_flame{
        width: calc(100% - 20px);
    }
}
.zone_title{
    margin-left: 10px;
    margin-bottom: 0px;
}
.title_label{
    margin-bottom: 20px;
}
.title_h3{
    margin-bottom: 0px;
}
.form_label{
    padding-bottom: 20px;
}
.form_input{
    display: inline-block;
    margin-bottom: 10px;
}
.display_none{
    display: none !important;
}

.display_block{
    display: block;
}

.margin0px{
    margin: 0px;
}

.information_component{
    margin-bottom: 20px;
}

.break_word{
    white-space: pre-line;
}

.submit_area{
    text-align: center;
    margin-top: 10px;
    padding: 0px;
    margin: 0px;
    .submit{
        -webkit-appearance: none; //これがないとスマホでborder-radiusが適応されない
        display: inline-block;
        //height: 30px;
        width: 200px;
        font-size: 15px;
        border-radius: 3px;
        border: 1px solid gray;
        background-color: orange;
        color: white;
        text-decoration: none;
        vertical-align: top;
    }
    .big_submit {
        -webkit-appearance: none; //これがないとスマホでborder-radiusが適応されない
        display: block;
        width: 100%;
        padding: 10px 0px;
        font-size: 16px;
        text-align: center;
        background-color: orange;
        color: #fff;
        border: none;
        border-radius: 5px;
        text-decoration: none;
        cursor: pointer;
        font-weight: bolder;
        line-height:normal;
    }
    .big_submit:hover {
        cursor: pointer;
        background-color: $button_orange_hover;
    }
    .grey{
        background-color: darkgray;
    }
    .grey:hover {
        background-color: silver;
    }
}
.visibility_hidden{
    visibility: hidden;
}
.font-size_0{
    font-size: 0px;
}
.inline-block{
    display: inline-block;
}
.one_line_text{
    margin-bottom: 0px;
    margin-top: 20px;
    display: -webkit-box;
    margin: 0px;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-rendering: auto;
    -webkit-line-clamp: 1;
    vertical-align: top;
}
.two_line_text{
    margin-bottom: 0px;
    margin-top: 20px;
    display: -webkit-box;
    margin: 0px;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2;
    //-webkit-line-clamp: auto; 
}
.three_line_text{
    margin-bottom: 0px;
    margin-top: 20px;
    display: -webkit-box;
    margin: 0px;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 3;
}
.width_100{
    width: 100%;
    height: auto;
}
.center_area{
    max-width: 1000px;
    margin: 0 auto;
}

.share_zone{
    margin-top: 10px;
    margin-bottom: 10px;
    .share_area{
        margin-top: 0px;
        .twitter_share{
            //color: white;
            //background-color: #00aced ;
            //border-radius: 30px;
            //margin-top: 10px;
            //padding: 3px 10px;
            color: #00aced ;
            font-weight: bold;
        }
        .fa-twitter{
            margin-top: 5px;
            //font-size: 20px;
            font-size: 13px;
        }

        .facebook_share{
            //color: white;
            //background-color: #315096 ;
            //border-radius: 30px;
            //margin-top: 10px;
            //padding: 3px 10px;
            font-weight: bold;
            color: #315096 ;
        }
        .fa-facebook-f{
            margin-top: 5px;
            //font-size: 20px;
            font-size: 13px;
            padding-right: 5px;
        }
    }
}
.center_area_max500{
    max-width: 500px;
    margin: 0 auto;
    
}

.common_label_area{
    margin-left: 5px;
    width: calc(100% - 0px);
    .common_label{
        margin: 0px;
        display: inline-block;
        //background-color: orange;
        //border-radius: 5px;
        padding-left: 7px;
        margin-top: 5px;
        color: dimgray;
        font-size: 17px;
        //text-decoration: underline;
        border-left: 4px solid $text_yellow;
    }
    //英語の場合フォントの大きさを変える
    .common_label:lang(en) {
        font-size:20px;
    }
}
.small_label_area {
    display: flex;
    align-items: center;
    gap: 0px; /* Adjust spacing between text and line */
    .label {
        font-size: 17px; /* Adjust font size as needed */
        font-weight: bold; /* Make the text bold */
        margin: 0; /* Remove default margin */
    }
    
    .label_line {
        flex-grow: 1; /* Make the line take up the remaining space */
        border-bottom: 1.5px solid #ccc; /* Adjust the thickness and color of the line */
    }
}

.component_line{
    height: 1px;
    border: none;
    border-top: 1.5px lightgray solid;
}
.h3_description{
    margin-top: 0px;
}

.select_area {
    position: relative;
    border-radius: 4px;
    width: 150px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid gray;
    cursor: pointer;
    display: inline-block;
    //height: 25px;
      select {
        width: 100%;
        padding-right: 1em;
        cursor: pointer;
        text-indent: 0.01px;
        text-overflow: ellipsis;
        border: none;
        outline: none;
        background: transparent;
        background-image: none;
        box-shadow: none;
        -webkit-appearance: none;
        appearance: none;
        padding: 8px 38px 8px 8px;
        color: black;
      }
}
.select_area::before {
    position: absolute;
    top: 0.8em;
    right: 0.8em;
    width: 0;
    height: 0;
    padding: 0;
    content: '';
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid gray;
    pointer-events: none;
}
.name_tag{
    color: dimgray;
    font-size: 9px;
    //font-weight: lighter;
    padding: 4px 4px;
    margin-right: 3px;
    margin-bottom: 3px;
    display: inline-block;
    height: 13.5px;
    background-color: #f1f1f1;
    //background-color: whitesmoke;   
    //color: $text_yellow;
    color: $dark_text_yellow;
    //background-color: $text_yellow;
    //color: white;
    //font-weight: bold;
    //color: #195faa;
    //padding-right: 2px;
    //border: 1px solid silver;
    border-radius: 2px;
}
:lang(en) {
    font-size: 19px !important;
}
.big_name_tag{
    //background-color: $text_yellow;
    border: 1px solid $text_yellow;
    font-size: 12px;
    padding: 2px 5px;
    margin-right: 3px;
    margin-bottom: 3px;
    border-radius: 3px;
    font-weight: bold;
    color: $dark_text_yellow;// white;
    display: inline-block;
}
.big_name_tag:hover{
    cursor: pointer;
    text-decoration: none;
    color: $medium_text_yellow;
    border: 1px solid $light_text_yellow;
}
.specifics_area{
    .specific{
        display: inline-block;
        padding-left: 5px;
        margin-bottom: 2px;
        color: $text_grey;
        label{
            background-color: #EEEEEE;
            padding: 4px 1px;
            color: black;
            font-size: 13px;
            margin-right: 5px;
        }
        span{
            margin: 0px;
        }
        .fa-star{
            font-size: 13px;
            color: $text_yellow;
        }
    }
}
.bottom_button_area{
    position: fixed;
    bottom: 0px;
    z-index: 1;
    background-color: white;
    height: 50px;
    position: fixed;
    text-align: center;
    left: 0;
    right: 0;
    box-shadow: 0 0 2px lightgray;
    .bottom_button_flame{
        margin: auto;
        left: 0;
        right: 0;
        max-width: 320px;
        width: 100%;
    }
    .bottom_button{
        background-color: orange;
        max-width: 300px;
        width: calc(100% - 20px);
        //height: 40px;
        margin: 7.5px 5px;
        padding: 5px;
        color: white;
        font-size: 15px;
        //font-weight: bold;
        border-radius: 3px;
        cursor: pointer;
    }
    .label_area{
        display: inline-block;
    }
    a{
        color: white;
        text-decoration: none;
    }
    .bottom_button:hover{
        background-color: #FFC700;
    }
}
.like_button{
    color: gray !important;
    border: 1.5px solid lightgray;
    padding: 5px;
    border-radius: 3px;
    font-size: 14px;
    text-decoration: none !important;
    //display: inline-block;
    float: right;
    .fa-heart{
        color: darkgray;
    }
}
.like_button:hover{
    background-color: whitesmoke;
}
.liked_button{
    .fa-heart{
        color: red;
    }
}
.list_zone{
    .list_header{
        margin: 5px;
        margin-right: 0px;
        .pagination{
            margin-right: 5px;
            float: right;
        }
    }
}
//.select_area {
//    position: relative;
//    border-radius: 4px;
//    width: 100px;
//    select {
//        width: calc(100% - 10px);
//        height: 25px;
//        border-radius: 5px;
//        border: solid 1px #627295;
//        
//        width: 100%;
//        padding-right: 1em;
//        cursor: pointer;
//        text-indent: 0.01px;
//        text-overflow: ellipsis;
//        border: none;
//        outline: none;
//        background: transparent;
//        background-image: none;
//        box-shadow: none;
//        -webkit-appearance: none;
//        appearance: none;
//        padding: 5px 38px 0px 5px;
//        color: black;
//    
//        ///width: 100%;
//        border-radius: 5px;
//        border: 1px solid gray;
//    
//      }
//    
//  }
//
//  .select_area::before {
//    position: absolute;
//    top: 0.6em;
//    right: 0.8em;
//    width: 0;
//    height: 0;
//    padding: 0;
//    content: '';
//    border-left: 6px solid transparent;
//    border-right: 6px solid transparent;
//    border-top: 6px solid gray;
//    pointer-events: none;
//}