.error_component_area{
    background-color: pink;
    border: 1.5px solid red;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    .error_component_flame{
        width: calc(100% - 20px);
    }
}