
.new_user{
    display: inline;
}
.follow_field_tag{
    display: inline;
}

.follow_message_area{
    margin-top: 10px;
    display: inline-block;
    .message_follow_button_flame{
        display: inline-block;
        
        padding: 2px;
        border-radius: 20px;
        font-size: 15px;
    }
    .follow_button_flame{
    }
    .follow_button{
        padding: 7px;
        display: inline;
        border: none;
        border: 2px solid grey;
        border-radius: 20px;
        text-decoration:none;
    }
    .message_button{
        padding: 7px;
        display: inline;
        border: none;
        border: 2px solid green;
        border-radius: 20px;
        text-decoration:none;
    }
    .message_button:hover{
        border: 2px solid lightgreen;
        color: lightgreen;
    }
    .fa-user-plus{
        z-index: 2;
    }
    .fa-envelope{
        color: green;
    }
}
.follow_button{
    text-decoration: none;
    border: 1px solid grey;
    width: calc(100% - 10px);
    padding: 5px;
    text-align: center;
    border-radius: 5px;
}
.followed_button{
    color: white;
    background-color: gray;
    border: 1px solid grey;
}
.unfollowed_button{
    color: gray;
}
.follow_button:hover{
    text-decoration: none;
    border: 1px solid darkgray;
}
.followed_button:hover{
    text-decoration: none;
    background-color: darkgray;
    color: white;
}
.unfollowed_button:hover{
    text-decoration: none;
    color: darkgray;
    border: 1px solid darkgray;
}