<h2 class="service_edit_title">サービスを編集</h2>
<%= render "user/shared/error_message", model: @service%>
<%= render "user/services/form", service: @service, request: @request, submit_text: @submit_text %>