.announcement_index_zone{
    .announcement_index_area{
        margin: 0 auto;
        max-width: 1000px;
        .announcement_index_header{
            margin-bottom: 0px;
        }
        .announce_title{
            display: inline;
            margin-left: 5px;
        }
        .announcement_index_paginate{
            padding-top: 10px;
            float: right;
        }
        .announce_cell_area{
            a{
                color: blue;
            }
            background-color: white;
            box-shadow: lightgray 0px 0px 2px;
            border-radius: 5px;
            .announce_cell_title{
                margin: 0px;
            }
            .announce_cell_body{
                margin: 0px;
                white-space: pre-line;
            }
        }
    }
}