<%if @service %>
  <h3 class="service_new_title">相談室</h3>
  <%= render "user/services/suggestion_cell", service:@service, transaction: @transaction %>
  <h3 class="service_new_title">質問内容</h3>
<% else %>
  <h3 class="service_new_title">質問を編集</h3>
<% end %>
<%= render "user/shared/error_message", model: @request%>
<%= render "user/shared/error_message", model: @request_item%>
<div class="service_new_zone">
    <div class="service_new_area input_area">
      <%= render "user/requests/form", request: @request, service: @service, method: 'PUT', path: user_request_path,submit_text: "保存"%>
    </div>
</div>