<div class="progress_bar_area">
    <ul class="progress_bar">
        <li class="<%='active' if number == 1%>">電話番号の登録</li>
        <li class="<%='active' if number == 2%>">個人情報の入力</li>
        <li class="completed <%='active' if number == 3%>">確認と登録</li>
    </ul>
</div>