
<tr id="<%=payout.id%>">
  <td><span class="price">¥<%= payout.amount%></span></td>
  <td><%=payout.status_japanese%></td>
  <td class="right-align">　<%= readable_datetime(Time.at(payout.created_at))%></td>
</tr>