<div class="register_label_zone">
    <div class="register_label_area">
    <h3 class="label">ステップ１</h3>電話番号登録
    </div>
    ➡️
    <div class="register_label_area">
    <h3 class="label">ステップ2</h3>回答者情報登録
    </div>
</div>