@import '_variables';
.modal_background{
  	width: 100%; /*ラッパー全体を覆うようにする*/
  	height: 100%;
  	background-color: rgba(0, 0, 0, 0.5); /*半透明の黒*/
	cursor: pointer;
}
.chat_modal_window {
	display: none;
  	position: fixed;
  	width: 100%;
  	height: 100%;
  	z-index: 11;
  	text-align: center;
  	margin: auto;
  	top: 0%;
  	left: 0;
  	right: 0;
	.top_area{
		$link_height: 50px;
		flex-direction: row;
		display: flex;
		align-items: center;
		.arrow_area{
			display: flex;
			width: 30px;
			font-size: 30px;
			cursor: pointer;
			.arrow{
				width: 100%;
				text-align: center;
			}
		}
		.arrow_area:hover {
			color: grey;
		}
		.user_link{
			display: flex;
			height: $link_height;
			flex-direction: row;
			img{
				display: flex;
				height: $link_height * 0.8;
				width: $link_height * 0.8;
				padding: $link_height * 0.1;
				border-radius: 50%;
				object-fit: cover;
			}
			.right_side{
				display: flex;
				flex: 1;
				align-items: center;
			}
		}
	}
  	.modal_window_body{
  	    position: absolute;
  	    top: 0px;
  		display: flex;
  		flex-direction: column;
  		justify-content: space-between;
  	    width: 100%;
  		height: 100%;
  	    max-width: 500px;
  	    max-height: 100%;
  	    margin: auto;
  	    left: 0;
  	    right: 0;
  	    margin-top: 0vh;
  	    background-color: #fff;
  	}
	.alert_area{
		text-align: left;
		background-color: orange;
	}
	.message_group{
	  	display: flex;
	  	flex-direction: column;
	  	flex: 1;
	  	background-color: white;
	  	text-align: left;
	  	width: 100%;
	  	overflow-x: scroll;
	  	height: 30vh;
	  	font-size: 14px;
		.message_cell{
			display: flex;
			flex-direction: column;
		}
		.left_component{
			flex-direction: row;
			.text_area{
				flex-direction: row;
			}
		}
		.right_component{
			flex-direction: row-reverse;
			.text_area{
				flex-direction: row-reverse;
			}
		}
		.message_component{
		  	width: 100%;
		  	float: left;
			display: flex;
			.image{
			  	height: 30px;
			  	width: 30px;
			  	border-radius: 20px;
			  	object-fit: cover;
			  	margin: 10px;
				margin-bottom: 5px;
				margin-top: 5px;
			}
			.left_image{
				margin-right: 0px;
				float: left;
			}
			.right_image{
				margin-left: 0px;
				float: right;
				display: none;
			}
			.text_area{
				display: flex;
				margin: 5px 10px;
				$right_text_color: #007bff;
				$left_text_color: rgb(230, 230, 230);
				.text{
					padding: 3px 8px;
					display: inline-block;
					background-color: $left_text_color;
					padding-bottom: 5px;
					border-radius: 10px;
					position: relative;
					min-height: 20px;
					//max-width: 400px;
					.text_body{
					  	white-space: pre-line;
					}
				}
				.left_text{
					margin-right: 0px;
				}
				.left_text::before {
					content: '';
					position: absolute;
					top: 5px; /* 吹き出しの高さを調整 */
					left: -17px; /* 吹き出しの位置を調整 */
					border: 10px solid transparent;
					border-right-color: $left_text_color; /* 吹き出しの背景色と同じ色を設定 */
				}
				.right_text{
					float: right;
					margin-left: 0px;
					background-color: $right_text_color;
					color: white;
				}
				.right_text::before {
					  content: '';
					  position: absolute;
					  top: 5px; /* 吹き出しの高さを調整 */
					  right: -7px; /* 吹き出しの位置を調整 */
					  border: 10px solid transparent;
					  border-right: none; /* 右側のボーダーを削除 */
					  border-left-color: $right_text_color; /* 吹き出しの背景色と同じ色を設定 */
				}
				.datetime_area{
					display: flex;
					flex-direction: column;
					justify-content: flex-end;
					color: $text_grey;
					text-align: center;
					.datetime{
						display: inline-block;
						font-size: 10px;
						margin: 0px 5px;
					}
				}
			}
			.text_rest{
				display: inline-block;
				flex: 1;
			}
		}
		.has-common-class {
			.right_text::before, .left_text::before {
				display: none;
			}
		}
		.has-common-class .message_component img {
			visibility: hidden;
			.text_area{
				margin: 5px 10px ;
			}
		}
		.no-common-class{
			.text_area{
				margin: 10px 10px ;
			}
		}
		.image_component{
			margin: 0px 10px;
			display: flex;
			.item_image_area{
				display: flex;
				flex-direction: column;
				width: 60%;
				border-radius: 10px;
				margin: 5px 10px;
			}
			.image_length_0{
				margin: 0px;
			}
		}
		.item_image{
			width: 100%;
			display: inline-block;
			border-radius: 20px;
		}
		.left_image{
			flex-direction: row;
			margin-left: 30px;
			text-align: left;
		}
		.right_image{
			flex-direction: row-reverse;
			text-align: right;
		}
		.image_rest{
			display: inline-block;
			flex: 1;
		}
		.date_area{
			text-align: center;
			.date{
				display: inline-block;
				font-size: 15px;
				height: 20px;
				line-height: 20px;
				border-radius: 10px;
				padding: 0px 10px;
				color: white;
				//background-color: $medium_text_yellow;
				background-color: grey;

			}
		}
		.date_area.null{
			display: none;
		}
		.date_area.undefined{
			display: none;
		}
	}
	.submit_form_area{
		box-shadow: 0 0 2px lightgray;
		.chat-form{
			padding: 0px 10px;
			display: flex;
			flex-direction: column;
			align-items: center;
			.file_label{
				text-align: left;
				width: 100%;
				padding-top: 5px;
				font-size: 13px;
				color: $text_grey;
			}
			.chat-container {
				padding: 5px 0px;
				padding-top: 0px;
				border-radius: 5px;
				width: 100%;
				display: flex;
				align-items:flex-end;
				//box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
				.chat-input {
					width: calc(100% - 70px);
					resize: vertical;
					height: calc(23px + 40px);// 元々のtextareaが22pxでborderが1px
					padding: 10px;
					border: 1px solid #ddd;
					border-radius: 5px;
					outline: none;
					margin-right: 0px;
					display: inline-block;
					display: flex;
					flex: 1;
					transition: height 0.3s ease;
				}
	
				.button_area{
					display: flex;
					flex-direction: column;
					height: 100%;
					$button_size: 40px;
					$mark_size: 20px;
					$button_color: #007bff;
					$button_hover_color: #0056b3;
					margin-left: 5px;
					.square_button{
						background-color: $button_color;
						width: $button_size;
						height: $button_size;
						cursor: pointer;
						  border: none;
						transition: background-color 0.3s ease;
						vertical-align: top; /* これがないとiphoneのsafariで上に隙間ができる */
						border-radius: 5px;
					}
					.chat-send-button {
						position: relative;
						background-color: $button_color;
						display: inline-block;
						color: #fff;
						border: none;
						bottom: 0px;
						margin-bottom: 0px;
						.submit_button{
							position: absolute;
							top: 0px;
							left: 0px;
							width: 100%;
							height: 100%;
						}
						&:hover, .submit_button:hover {
								background-color: lighten($button_color, 15%); // ホバー時に明るい色に変更
						  }
						.fa-paper-plane{
							font-size: $mark_size;
							position: absolute;
							top: calc((#{$button_size} - #{$mark_size}) / 2);
							left: 8px;
							font-size: $mark_size;
							line-height: $mark_size;
							color: white;
							pointer-events: none;
						}
					}
					.file-button {
						margin-bottom: 5px;
						width: $button_size;
						height: $button_size;
						  //border-radius: 50%; /* 角丸 */
						background-color: darkgrey;
						  cursor: pointer;
						  text-align: center;
						  vertical-align: middle;
						position: relative;
						.fa-image{
							font-size: 30px;
							position: absolute;
							top: calc((#{$button_size} - 30px) / 2);
							left: 5px;
							color: white;
						}
					}
					.file-button:hover {
						  background-color: lighten(darkgrey, 15%); /* ホバー時の色 */
					}
					.file-input {
						  display: none; /* input要素を非表示 */
					}
	
				}
			}
		}
	}
	.creating_state{
		display: none;
		$dark_color: dimgrey;
		.text_body span {
			color: $dark_color;
			animation: color-change 0.7s infinite;
			animation-delay: calc(var(--order) * 0.15s);
		}
		.text_body span:nth-child(1) {
			--order: 0;
		}
		.text_body span:nth-child(2) {
			--order: 1;
		}
		.text_body span:nth-child(3) {
			--order: 2;
		}
		@keyframes color-change {
			0%, 33% {
			   color: $dark_color;
			}
			34%, 66% {
			   color: lightgrey;
			}
			67%, 100% {
			   color: $dark_color;
			}
		}
	}
}
.chat_modal_window.openning{
	display: block;
}