@import "_variables";
.transaction_cell_area{
    margin-top: 5px;
    margin: 5px 5px 5px 5px;
    border-radius: 2.5px;
    background-color: white;
    //border: 1px solid lightgray;
    box-shadow: 0 0 2px lightgray;
    box-shadow: 1px 1px 3px gray;
    position: relative;
    .transaction_cell_flame{
        width:100%;
        //height:100px;
        border-radius: 10px;
        .youtube_video_area{
            float: left;
            display: inline-block;
            height: 100px;
            width: calc(100px / 9 * 16);
            border-radius: 10px 0px 0px 10px;
        }
        .transaction_file{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px 0px 0px 10px;
        }
        .transaction_link{
            //text-decoration: none;
        }
        .video_text_area{
            //height: 100px;
            //display: inline-block;
            background-color: white;
            border-radius: 10px;
            //width: calc(100% - 100px / 9 * 16);
            h4{
                margin-top: 0px;
                margin-bottom: 0px;
                padding-left: 5px;
                font-weight: normal;
            }
            a{
                cursor: pointer;
            }
            .request_title{
                font-size: 16px;
                //color: #0064c8;
                color: blue;
                font-weight: bold;
                cursor: pointer;
                padding-left: 5px;
                //color: steelblue;
                margin: 0px;
                .mark_q{
                    font-size: 18px;
                    color: $text_grey;
                    //color: blue;
                }
            }
            hr{
                size:10px;
                width:10px;
                color: darkgray;
                display: inline-block;
            }
            .transaction_title{
                //color: indianred;
                //text-decoration: underline;
                font-size: 15px;
            }
            .text{
                margin-top: 3px;
                margin-bottom: 0px;
                padding-left: 5px;
                padding-right: 5px;
                font-size: 13px;
                color: #333333;
                font-weight: lighter;
            }
            .user_and_date{
                font-weight: normal;
                color: grey;
                font-size: 11px;
            }
        }
    }
    .transaction_cell_flame_open::after {
        //content: "";
        //position: absolute;
        //bottom: 0px;
        //width: 100px;
        //right: 85px;
        //height: 20px; 
        //background: linear-gradient(to left, white, rgba(255, 255, 255, 0));
    }
    .seller_area{
        display: inline-block;
        width: 100%;
        color: black;
    }
    .seller_area:hover{
        text-decoration: none;
    }
    .seller_area:hover .seller_name{
        color: grey !important;
    }
    .seller_container{
        height: 40px;
        margin-right: 10px;
        .seller_image{
            display: inline-block;
            margin: 5px;
            height: 30px;
            width: 30px;
            border-radius: 20px;
            float: left;
            object-fit: cover;
        }
        .seller_name_area{
            height: 40px;
            position: relative;
            width: calc(100% - 40px);
            display: flex;
            //padding-top: 7px;
            align-items: center;
            .seller_name{
                color: $text_grey;
                margin: 0px;
            }
            .datetime{
                color: dimgray;
                font-size: 13px;
            }
        }
    }
    .seller_info:hover .seller_name {
        //text-decoration: underline;
        color: gray;
    }
    .seller_info:hover .datetime{
        //text-decoration: underline;
        color: gray;
    }
    .mark_a{
        color: red;
        font-size: 20px;
    }
    .item_description_area{
        display: flex;
        .item_area{
            height: 60px;
            width: 55px;
            padding: 5px;
            padding-right: 0px;
            padding-bottom: 0px;
            img{
                object-fit: cover;
                width: 55px;
                height: 55px;
            }
        }
        .description_area{
            display: inline-block;
            flex-grow: 1;
            .text{
                white-space: pre-line;
            }
        }
    }
    .answer{
        font-weight: bold;
        color: $text_grey;
        padding-left: 5px;
    }
    .open_page_area{
        text-align: right;
        margin: 0 0 0 auto;
    }
    .open_page{
        color: $link_blue;
    }
    .open_text_area{
        position: absolute;
        bottom: 2px;
        right: 0px;
        height: 20px;
    }
    .open_text{
        display: inline-block;
        //text-align: center;
        font-size: 13px;
        color: $link_blue;
        background-color: white;
    }
    .open_text:before{
        text-decoration: none;
        color: $link_blue;;
        cursor: pointer;
        background-color: white;
    }
    .open_text:hover{
        text-decoration: underline;
        cursor: pointer;
    }
    .smoke{
        display: inline-block;
        float: left;
        width: 100px;
        height: 100%; 
        background: linear-gradient(to left, white, rgba(255, 255, 255, 0));
    }
    //.open_text:before{
    //    content: "";
    //    width: 100px;
    //    height: 20px; 
    //    background: linear-gradient(to left, white, rgba(255, 255, 255, 0));
    //  //content: "...詳細を表示";
    //}
    .close_text:before{
      //content: "詳細を閉じる";
    }
}
.transaction_cell_area.closing{
    .answer_area{
        display: none;
    }
    .items_area{
        display: none;
    }
}
.transaction_cell_area.opening{
    .item_description_area{
        display: block;
        .item_area{
            display: none;
        }
    }
    .description_area{
        display: inline-block;
        height: 100%;
        .description_text{
            display: -webkit-box;
        }
    }
    .items_area{
        overflow-x: auto;
        display: flex;
        height: 100px;
        width: 100%;
        scroll-behavior: smooth;
        img{
            object-fit: cover;
            height: 100px;
            display: inline-block;
            margin: 0px 2.5px;
        }
    }
    .open_text_area{
        display: none;
    }
    .answer_area{
        display: block;
        box-shadow: 0 0 2px grey;
        margin: 5px;
        border-radius: 5px;
        .text{
            white-space: pre-line;
        }
    }
    .transaction_cell_flame{
        padding-bottom: 1px;
    }
}


