.transaction_new_title{
    margin-left: 10px;
    margin-bottom: 0px;
}
.transaction_new_zone{
    background-color: white;
    box-shadow: 0 0 2px lightgray;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    .transaction_new_area{
        width: calc(100% - 20px);
    }
}