@import "variables";
.transaction_show_zone{
    .transaction_show_left_side{
        display: inline-block;
        width: 100%;
        .sort_area{
            .current_order{
                font-weight: bold;
                text-decoration: underline;
            }
        }
        .title_component{
            margin: 0px;
            margin-left: 5px;
        }
        .transaction_area{
            width: calc(100%);
            .datetime{
                color: dimgray;
                font-size: 13px;
            }
            .buyer_area{
                height: 30px;
                margin-right: 10px;
                color: black;
                width: 100%;
                display: inline-block;
                .buyer_image{
                    display: inline-block;
                    margin: 5px;
                    margin-left: 0px;
                    height: 20px;
                    width: 20px;
                    border-radius: 20px;
                    float: left;
                    object-fit: cover;
                }
                .buyer_name_area{
                    display: inline-block;
                    height: 30px;
                    position: relative;
                    width: calc(100% - 60px);
                    padding-top: 3px;
                    .buyer_name{
                            color: dimgray;
                        margin: 0px;
                    }
                }
                .buyer_name_area:hover .buyer_name{
                    //text-decoration: underline;
                        color: darkgray;
                }
            }
            hr{
                background-color: whitesmoke;
                width:calc(100%);
                size: 300;
                height: 2px;
                border: none;
                margin: 0px;
            }
            .transaction_flame{
                padding: 10px;
                padding-top: 10px;
                margin: 5px;
                height: auto;
                border-radius: 10px;
                background-color: white;
                box-shadow: 1px 1px 3px gray;
                border-radius: 2.5px;
                //box-shadow: 0 0 2px lightgray;
                width: calc(100% - 30px);
                .title{
                    margin-top: 5px;
                    margin-bottom: 0px;
                }
                .request_area{
                    .description_area{
                        color: rgb(70, 70, 70);
                        white-space: pre-line;
                    }
                }
                .description_area{
                    white-space: pre-line;
                }
                .request_title{
                    //color: steelblue;
                    //color: rgb(40, 40, 40);
                    //text-decoration: none;
                }
                .transaction_title{
                    color: indianred;
                    //color: rgb(40, 40, 40);
                    font-size:23px;
                    //margin-bottom: 10px;
                }
                .item_file_flame{
                    background-color: #fc0d1b;
                    border-radius: 10px 10px 0px 0px;
                    width: 100%;
                }

                .item_file{
                    height: 100%;
                    width: 100%;
                }
                .image{
                    width: 100%;
                }
                .item_link{
                    width: 100%;
                }
                .like_share_area{
                    overflow: hidden;
                    padding-bottom: 5px;
                }
                .like_area{
                    display: inline-block;
                    margin-top: 10px;
                    margin-bottom: 10px;
                    float: left;
                    .like_flame{
                        color: gray;
                        font-weight: lighter;
                        margin-bottom: 0px;
                        height: 20px;
                    }
                    .like_button{
                        display:inline-block;
                        margin-right: 10px;
                        text-align: center;
                        border: 1px solid lightgray;
                        border-radius: 5px;
                        padding: 5px 10px;
                        font-size: 13px;
                        
                        font-weight: lighter;
                        cursor: pointer;
                        text-decoration: none;
                        color: blue;
                        border-radius: 5px;
                    }
                    .liked_button{
                        color: red;
                    }
                    h4{
                        
                    }
                }
                .seller_area{
                    display: inline-block;
                    width: calc(100% - 110px);
                    color: black;
                }
                .follow_message_area{
                    float: right;
                }

                .service_link_area{
                    display: inline-block;
                    div{
                        //font-size: 10px;
                        //color: gray;
                    }
                    label{
                        padding: 2px;
                        font-size: 20px;
                        color: gray;
                    }
                }
                .service_link_area{
                    display: block;
                    height: 100%;
                    overflow: hidden;
                    .service_link{
                        color: blue;
                        height: 100%;
                        font-size: 15px;
                        text-decoration: underline;
                    }
                    .service_label{
                        font-size: 15px;
                        color: black;
                        background-color: whitesmoke;
                    }
                    .serice_link_component{
                        font-weight: bold;
                        color: #444444;
                        //text-decoration: none;
                        //float:right;
                    }
                }
            }
        }
        .along_message_area{
            //background-color: white;
            //box-shadow: 1px 1px 3px gray;
            border-radius: 5px;
            margin: 5px;
            .user_name_area{
                height: 40px;
                margin-bottom: 0px;
                .user_image_area{
                    margin-top: 5px;
                    height: 30px;
                    float: left;
                    padding-left: 7px;
                    .image{
                        height: 30px;
                        width: 30px;
                        object-fit: cover;
                        border-radius: 50%;
                    }
                }
                .user_name{
                    margin: 7.5px;
                    display: inline-block;
                }
            }
            .open_button_area{
                height: 50px;
                width: 100%;
                text-align: left;
                .open_button{
                    float: left;
                    height: 100%;
                    width: 3px;
                    margin-left: 20px;
                    margin-right: 10px;
                    display: inline-block;
                    background-color: lightgray;
                }
                a{
                    cursor: pointer;
                }
            }
        }
        .along_messages{
            display: none;
        }
        .review_name{
            margin-right: 5px;
            margin-top: 0px;
            margin-bottom: 0px;
            text-align: center;
        }
    }
    .seller_info{
        height: 50px;
        margin-right: 10px;
        .seller_image{
            display: inline-block;
            margin: 5px;
            height: 40px;
            width: 40px;
            border-radius: 20px;
            float: left;
            object-fit: cover;
        }
        .seller_name_area{
            display: inline-block;
            height: 50px;
            position: relative;
            width: calc(100% - 60px);
            padding-top: 5px;
            .seller_name{
                color: dimgray;
                margin: 0px;
            }
            .datetime{
                color: dimgray;
                font-size: 13px;
            }
        }
    }
    .seller_info:hover .seller_name {
        //text-decoration: underline;
        color: gray;
    }
    .seller_info:hover .datetime{
        //text-decoration: underline;
        color: gray;
    }
    
    
    
    .transaction_show_right_side{
        .title{
            margin:5px 0px ;
        }
        display: inline-block;
        width: 100%;
    }


}
@media(max-width: 1000px){
    .transaction_show_zone{
        .transaction_flame{
            width: calc(100%);
            height: auto;
            .item_file{
                height: auto;
            }
        }
    }
}
@media(min-width: 1000px){
    .transaction_show_zone{
        .transaction_show_left_side{
            width: calc(100% - 400px);
            float: left;
        }
        .transaction_show_right_side{
            width: 390px;
        }
    }
}
.sub {
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #fc0d1b;
    color: #fff;
    border-radius: 3px;
    margin-bottom: 10px;
    margin-left: 10px;
}


.transaction_message_flame{
}

.my_transaction_message_area{
    width: 100%;
    margin-bottom: 0px;
    .my_message_text{
        padding: 5px;
        border-radius: 10px;
        background-color: white;
        box-shadow: 0px 0px 2px lightgray;
        float: right;
        white-space: pre-line;
    }
}
.send_time_area{
    width: 100%;
    float: right;
    .send_time{
        float: right;
        font-size: 13px;
    }
}
.transaction_message_form_area{
}
.total_transaction_message{
    text-align: center;
    color: gray;
}
.get_transaction_message_button{
    color: blue;
    @media(min-width:1000px){
        display: none;
    }
}
.get_transaction_message_button:hover{
    cursor: pointer;
}


.share_button{
    display: inline-block;
    margin-top: 7px;
    //margin-right: 5px;
    padding: 5px;
    //color: $main-color;
    font-size: 15px;
    //font-weight: bolder;
    background-color: white;
    text-decoration: none;
    border-radius: 5px;
    height: 20px;
    font-size: 20px;
    font-weight: bold;
    align-items: center;
    text-align: center;
    //background-color: red;
    //float: left;
}
.twitter_share_button_area{
    display: inline-block;
    //height: 50px;
}
#twitter_share_button_area > .share_button{
    color: #00aced;
    font-size: 15px;
    //border: 1.5px solid #00aced;
    float: left;
}
#facebook_share_button_area > .share_button{
    color: #315096;
    font-size: 15px;
    //border: 1.5px solid #315096;
}
.share_button:hover{
    text-decoration: none;
}

.adjustable_image_area{
    .container {
        height: 50%;
    }
    .request_image {
        display: block;
        width: 100%;
        height: auto;
        height: 50px;
        object-fit: cover;
        object-position: 0px -50px;
        @media(max-width: 1000px){
            object-position: 0px calc(-100vw * 0.05);
        }
        cursor: pointer;
    }
    .request_image_area > img {
        opacity: 0.5;
        border-radius: 10px;
    }
    .reveal > img {
        height: 100%;
        opacity: 1.0;
        object-position: 0px;
        border-radius: 0px;
    }
    .button_area {
        position: relative;
    }
    .btn {
        position: absolute;
        z-index: 0.5;
        top: -30px;
        left: 0;
        width: 100%;
        color: grey;
        border: none;
        cursor: pointer;
        text-align: center;
        background-color: transparent;
        pointer-events: none;
    }
    .btn{
        color: $link_blue;
        text-decoration: underline;
        font-size: 20px;
    }
}