<div class="transaction_ongoing_zone">
    <div class="transaction_ongoing_flame">
        <% @transaction.each do |transaction| %>
            <div class="transaction_ongoing_cell">
            </div>
        <% end %>
    </div>
</div>