.alert_main{
    width: auto;
    margin: 0 auto;
    max-width: 1000px;
    @media(max-width:1000px){
        padding-top: 50px;
    }
    @media(min-width:1000px){
        padding-top: 90px;
    }
}