.category_menu_area{
    position: relative;
    float: left;
    p{
       text-align: center;
       font-weight: bold;
    }
}
@media(max-width: 1000px){
    .category_menu_area{
        width: 100%;
    }
}

@media(min-width:1000px){
    .category_menu_area{
        width: 200px;
        padding-right: 20px;
        padding-left: 20px;
        display: none;
        float: left;
        li{
            margin: 10px;
        }
    }                      
}
