//@import "_variables.scss";
$menu_height: 50px;
$menu_link_height: 30px;
.search_detail{
    float: left;
    z-index: 1;
}
@media(max-width:1000px){
    .wide_detail_search{
        display: block;
        padding-left: 10px;
        width: 100%;
        p{
            margin-bottom: 5px;
        }
    }
}
.menu_bar{
    //background-color: #FFFF66;
    background-color: white;
    position: relative;
    box-shadow: 0px 0px 2px whitesmoke;
    z-index: -0.5;
    @media (max-width:1000px) {
        box-shadow: 0 0 2px lightgray;
    }
    .menu_bar_container{
        height: 100%;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        max-width: 1000px;
        position: relative;
        //@media (max-width:1000px) {
        //    width: 100%;
        //}
    }
    /*
    display: flex; //flex型
    flex-direction: row; //flexを横方向に
    justify-content: flex-end; //flex内部のアイテムを末尾に寄せる
    */


    $left_menu_button: 33px;
    .left_menu_button_area {
        display: inline-block;
        //position: absolute;
        float: right;
        width: $left_menu_button;
        height: $left_menu_button;
        right: 10px;
        .left_menu_button {
            width: $left_menu_button*0.9;
            height: $left_menu_button*0.8;
            cursor: pointer;
            margin-top: 12px;
            margin-right: 5px;
            position: relative;
        }
        .left_menu_button span {
            position: absolute;
            left: 0;
            width: $left_menu_button*0.9;
            height: $left_menu_button*0.08;
            background-color: dimgray;
            border-radius: $left_menu_button*0.08;
        }
        .left_menu_button, .left_menu_button span {
            display: inline-block;
            transition: all .5s;
            box-sizing: border-box;
        }
        .left_menu_button span:nth-of-type(1) {
            top: 0;
        }
        .left_menu_button span:nth-of-type(2) {
            top: $menu_height*0.24;
        }
        .left_menu_button span:nth-of-type(3) {
            bottom: 0;
        }
        .left_menu_button.active span:nth-of-type(1) {
            -webkit-transform: translateY($menu_height*0.4) rotate(-45deg);
            transform: translateY($menu_height*0.24) rotate(-45deg);
        }
        .left_menu_button.active span:nth-of-type(2) {
            opacity: 0;
        }
        .left_menu_button.active span:nth-of-type(3) {
            -webkit-transform: translateY(-$menu_height*0.4) rotate(45deg);
            transform: translateY(-$menu_height*0.24) rotate(45deg);
        }
        .left_menu_button span{
            display: none;
            @media (max-width:1000px) {
                display: inline-block;
            }
        }
        display: none;
        @media (max-width:1000px) {
            display: inline-block;
        }
    }


    .app_name_area{
        position: absolute;
        //background-color: red;
        left: -25px;
        height: 45px;
        padding-top: 5px;
        display: inline-block;
        width: 170px;
        text-align: center;
        font-size: 25px;
        font-weight: bold;
        text-decoration: none;
        .app_name{
            color: rgb(200, 200, 0);
            font-size: 20px;
        }
        .app_design{
            transform: rotate(-10deg) translate(5px, 3px);
            text-decoration: none;
            color: white;
            text-shadow: 2px 0.5px 0 rgb(0, 0, 0), 4px -1px 0px rgb(245, 245, 0);
            //-webkit-text-stroke: 0.1px #888;
            text-stroke: 1px #888;
            padding: 0 0 10px;
            //transform: skew(-20deg);
            display: inline-block;
            margin: 0px;
            font-weight: bold;
            font-family: "ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro";
        }
    }
    .app_name_area:hover .app_design{
        border-radius: 10px;
        color:#FFFF99;
        color: white;
        text-shadow: 2px px 0 rgb(230, 230, 0);
        //-webkit-text-stroke: 0.1px darkgray;
        text-stroke: 1px darkgray;
    }
    .app_name_area:hover .app_name{
        //color: rgb(230, 230, 0);
    }
    .menu_question{
        float: right;
        order:2;
        height: 50px;
        width: 40px;
        display: inline-block;
        text-align: center;
        cursor: pointer;
        .question_image{
            display: inline-block;
            font-size: $menu_height/2;
            padding-top: ($menu_link_height - $menu_height/2)/2;//(リンクの大きさ - フォンントの高さ) ÷ ２
            height: $menu_link_height - ($menu_link_height - $menu_height/2)/2; //リンクの大きさ - padding-top
            width: $menu_link_height;//リンクの大きさ
            margin-top: ($menu_height - $menu_link_height)/2 ;
            border-radius: 100%;
            text-decoration: none;
            color: gray;
        }
        .question_image:hover{
            background-color: #EEEEEE;
        }
    }
    .menu_notification{
        float: right;
        order:3;
        height: 50px;
        width: 40px;
        display: inline-block;
        position: relative;
        cursor: pointer;
        text-align: center;
        .notification_image{
            display: inline-block;
            font-size: $menu_height/2;
            padding-top: ($menu_link_height - $menu_height/2)/2;//(リンクの大きさ - フォンントの高さ) ÷ ２
            height: $menu_link_height - ($menu_link_height - $menu_height/2)/2; //リンクの大きさ - padding-top
            width: $menu_link_height;//リンクの大きさ
            margin-top: ($menu_height - $menu_link_height)/2 ;
            border-radius: 100%;
            text-decoration: none;
            color: dimgray;
        }
        .notification_image:hover{
            background-color: #EEEEEE;
        }
        .notification_number{
            display: inline-block;
            position: absolute;
            text-align: center;
            font-size: 10px;
            background-color: red;
            color: white;
            top: 2px;
            right: 5px;
            height: 15px;
            width: 15px;
            border-radius: 8px;
        }
    }
    .open_sidebar_menu_button{
        float: right;
        order: 3;
        top:0;
        right: 0px;
        height: 50px;
        width: 40px;
        display: inline-block;
        cursor: pointer;
        .open_sidebar_menu_button_image{
            padding: 10px 5px;
            height: 30px;
            width: 30px;
            border-radius: 100%;
            object-fit: cover;
        }
    }
    .open_search{
        float: right;
        height: 50px;
        width: 40px;
        cursor: pointer;
        text-align: center;
        .search_glass_image{
            display: inline-block;
            font-size: $menu_height/2;
            padding-top: ($menu_link_height - $menu_height/2)/2;//(リンクの大きさ - フォンントの高さ) ÷ ２
            height: $menu_link_height - ($menu_link_height - $menu_height/2)/2; //リンクの大きさ - padding-top
            width: $menu_link_height;//リンクの大きさ
            margin-top: ($menu_height - $menu_link_height)/2 ;
            border-radius: 100%;
            text-decoration: none;
            color: dimgray;
        }
        .search_glass_image:hover{
            background: #EEEEEE;
        }
    }
    .login_path_area{
        float: right;
        margin: 0px;
        padding: 10px 0;
        padding-top: 15px;
        .login_path{
            margin-top: 7px;
            margin-right: 5px;
            padding: 5px;
            color: orange;
            //color: $main-color;
            font-size: 15px;
            //font-weight: bolder;
            background-color: white;
            text-decoration: none;
            border-radius: 5px;
            border: 1.5px solid orange;
        }
        .login_path:hover{
            color: white;
            background-color: orange;
        }
    }
    .search_bar{
        position: absolute;
        top:0px;
        .inner_search_bar{
            position: relative;
            display: inline-block;
            height: 100%;
            width: 100%;
            top:0px;
        }
        .searchForm {
            width: 100%;
            position: relative;
            .close_search{
                position: absolute;
                text-align: center;
                padding-top: 0px;
                width: 50px;
                height: 100%;
                right: 0px;
                
                cursor: pointer;
                div{
                    position: relative;
                    top:9px;
                    left:0px;
                    height: 35px;
                    width: 35px;
                }
                .close_icon::before, .close_icon::after{
                    content: "";
                    display: inline-block;
                    width: 80%;/*バツ線の長さ*/
                    height: 3px;/*バツ線の太さ*/
                    border-radius: 3px;
                    background: #333333;
                    transform: rotate(45deg);
                    transform-origin:0% 50%;
                    position: absolute;
                    top: calc(24% - 5px);
                    left: 30%;
                }
                .close_icon::after{
                    transform: rotate(-45deg);
                    transform-origin:100% 50%;
                    left: auto;
                    right: 14%;
                }
            }
            .close_search:hover {
                background-color: whitesmoke;
                border-radius: 50%;
            }
            .close_search:hover .close_icon::after{
                background-color: gray;
            }
            .close_search:hover .close_icon::before{
                background-color: gray;
            }
            .form-control{
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                margin: 6px 0;
                border: 1px solid #999;
                border-radius: 5px 0px 0px 5px;
                height: 37.5px;
                width: 71px;
                background-color: white;
                color: dimgray;
                font-size: 15px;
            }
            .select_array{
                position: absolute;
                top: 35%;
                color: gray;
                text-decoration: none;
                cursor: pointer;
                pointer-events: none;
                display: inline-block;

                top: 41%;
                vertical-align: middle;
                color: gray;
                line-height: 1;
                width: 7px;
                height: 7px;
                border: 0.1em solid currentColor;
                border-left: 0;
                border-bottom: 0;
                box-sizing: border-box;
                transform: translateY(-25%) rotate(135deg);
            }
            .form-control:hover{
                color: gray;
                cursor: pointer;
            }
            .search_input {
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                padding-top: 10px;
                padding-bottom: 10px;
                margin: 6px 0;
                border: 1px solid #999;
                height: 15.5px;
                border-radius: 0px;
            }
            .searchForm-submit {
                position: absolute;
                width: 37.5px;
                height: 35.5px;
                top: calc(50% - 19px);
                right: 0;
                border-radius: 0 5px 5px 0;
                background-color: white;
                border: 1px solid #999;
                cursor: pointer;
                .menu_submit_button{
                    width: 100%;
                    height: 100%;
                    background-color: white;
                    border-radius: 0 5px 5px 0;
                    border: 1px solid #999;
                    opacity: 0;
                    z-index: 3;
                }
                .menu_submit_button:hover{
                    cursor: pointer;
                }
            }
            .search_glass{
                z-index: 0;
            }
            .search_glass::before {
                position: absolute;
                content: '';
                width: 15px;
                height: 15px;
                top: calc(50% - 9px);
                left: calc(50% - 9px);
                border-radius: 50%;
                box-shadow: 0 0 0 2px gray;
                z-index: 0;
            }
            .search_glass::after {
                position: absolute;
                content: '';
                width: 8px;
                height: 6px;
                top: calc(50% + 6px);
                left: calc(50% + 2px);
                border-top: solid 2px gray;
                transform: rotate(45deg);
                z-index: 0;
            }
            .searchForm-submit:hover  .search_glass::after{
                border-top: solid 2px darkgray;
            }
            .searchForm-submit:hover  .search_glass::before{
                box-shadow: 0 0 0 2px darkgray;
            }
            .search-detail-json{
                display: none;
            }
        }
        .searchForm-input {
          width: 100%;
        }
    }
}

.menu_bar{
    height: 50px;
}
//.closing_menu_bar{
//    height: 50px;
//}
//.opening_menu_bar{
//    @media(min-width: 1000px){
//        height: 50px;
//    }
//}
//.opening_menu_bar{
//    background-color: white;
//}
.search_detail_margin{
    height: 100px;
    width: 0px;
    float: left;
}
.select_array{
    left: 50px;
}
@media(max-width:1000px){
    .menu_search_form{
        height: 0px;
        width: 100%;
        background-color: yellow;
        //display: none;
    }
    .select_array{
        left: 60px;
    }
    .search_bar{
        width: 100%;
        height: 50px;
        display: inline-block;
        .searchForm{
            .search_input{
                position: absolute;
                //width: calc(100% - 160px );
                top:0px;
                left: 80px;
                right: 89px;
            }
            .form-control{
                top:0px;
                left: 10px;
                position: absolute;
            }
            .searchForm-submit{
                display: inline-block;
                top:100px;
                position: absolute;
                left: calc(100% - 90px );
            }
        }
        .inner_search_bar{
            display: none;
            background-color: white;
        }
    }
    .search_bar{
        display: none;
    }
    .wide_detail_search{
        display: none;
        background-color: white;
    }
    .search_mode .search_bar{
        display: inline-block;
    }
    .search_mode .wide_detail_search{
        display: inline-block;
        box-shadow: 0px 0px 2px lightgray;
    }
}

@media(min-width:1000px){
    .search{
        display: inline-block;
    }
    .search_bar{
        width: 50%;
        left: 25%;
        height: 50px;
        .searchForm{
            .form-control{
                position: absolute;
                left: 0px;
            }
        }
        .inner_search_bar{
            //background-color: #FFFF66;
            background-color: white;
        }
    }
    
    .close_search, .open_search{
        display: none;
    }
    .form{
        display: block;
    }
    .search_input {
        position: absolute;
        width: calc(100% - 100px);
        left: 70px;
    }
}

.detail_search_form{
    .text_field{
        //margin-top: 10px;
        width: calc(100% - 10px);
        height: 25px;
        border-radius: 5px;
        border: solid 1px #627295;
    }
    select{
        height: 100%;
    }
    .field_label{
        display: inline-block;
        margin-top: 20px;
        width: 100%;
    }
    .text_field_area{
        position: relative;
    }
    .category_area{
        padding-top: 20px;
        p{
           padding-bottom: 0px;
        }
    }
    .fa{
        position: absolute;
        top: 16.5px;
        left: 10px;
        color: lightgray;
    }
    .text_field:focus + .fa{
        display: none;
    }
    .search_button_area{
        text-align: center;
        position: relative;
        .search_button{
            margin-top: 20px;
            padding: 0px;
            width: 50%;
            height: 25px;
            display: inline-block;
            font-size: 15px;
            border-radius: 5px 5px 3px 3px;
            color: white;
            background-color: orange;
            box-shadow: 0 0 2px lightgray;
            border: solid 0px #627295;
        }
        .search_button:hover{
            cursor: pointer;
            background-color: #FFBF00;
            background-color: rgb(255, 180, 0);
        }
    }
}
@media(max-width:1000px){
    .modal_body{
        display: none;
    }
}
@media(min-width:1000px){
    .wide_detail_search{
        display: none;
    }
}