.search_detail{
    .request_search_category span{
        display: inline-block;
    }
    .input_field{
        //height: 25px;
        width: 100%;
        border-radius: 5px;
        border: 1px solid gray;
    }
    .search_detail_flame{
        .search_detail_area{
            //z-index: -0.5;
            //top: -50px;
            //left: 0px;
            //position: absolute;
            //background-color: blue;
            .modal_header{
                text-align: center;
                .title{
                    margin-top: 5px;
                }
            }
            overflow-y: scroll;
        }

        //select {
        //    width: 100%;
        //    padding-right: 1em;
        //    cursor: pointer;
        //    text-indent: 0.01px;
        //    text-overflow: ellipsis;
        //    border: none;
        //    outline: none;
        //    background: transparent;
        //    background-image: none;
        //    box-shadow: none;
        //    -webkit-appearance: none;
        //    appearance: none;
        //    padding: 5px 38px 0px 5px;
        //    color: black;
        //}
        //.select_area {
        //    position: relative;
        //    border-radius: 4px;
        //    width: 100px;
        //}
        //.select_area::before {
        //    position: absolute;
        //    top: 0.6em;
        //    right: 0.8em;
        //    width: 0;
        //    height: 0;
        //    padding: 0;
        //    content: '';
        //    border-left: 6px solid transparent;
        //    border-right: 6px solid transparent;
        //    border-top: 6px solid gray;
        //    pointer-events: none;
        //}
    }
}
@media(max-width:1000px){
    .search_detail{
        display: none;
        width: 100%;
        .search_detail_flame{
            background-color: white;
            .search_detail_area{
                padding:10px 50px 5px 10;
                h4{
                    display: none;
                }
            }
        }
    }
}
@media(min-width:1000px){
    .search_detail{
        float: left;
        display: none;
        width: 240px;
        position: relative;
        height: calc(100vh - 90px);
        //background-color: red;
        overflow-y: scroll;
        .search_detail_flame{
            background-color: white;
            border-radius: 10px;
            margin: 5px;
            box-shadow: 0 0 2px lightgray;
            .search_detail_area{
                padding:10px 5%;
                h4{
                    text-align: center;
                }
            }
        }
    }
}