.search_layout{
	.common_navigation_bar_flame{
		text-align: center;
		height: 40px;
		display: none;
	}
	.common_navigation_bar_area{
		display: inline-block;
		max-width: 700px;
		width: 100%;
		text-align: left;
	}
	.top_search_form_area{
		display: none;
		text-align: center;
		@media (max-width:1000px) {
			display: block;
		}
		.top_search_form{
			max-width: 700px;
		}
	}
	@media (max-width:1000px) {
		.main_header{
			margin-top: 0px;
		}
		.common_navigation_bar_flame{
			display: block;
		}
	}
}
.top_search_form_area{
	//background-color: white;
	height: 50px;
	//box-shadow: 0px 0px 2px lightgray;
	position: relative;
	height: 50px;
	.top_search_margin{
		background-color: white;
	}
	.top_search_form{
		//max-width: 700px;
		margin: 0 auto;
		position: relative;
		height: 100%;
	}
	.open_search_button{
		position: absolute;
		top: 0px;
		height: 100%;
		width: 100%;
		cursor: pointer;
	}
	.search_input{
		position: absolute;
		left: 5px;
		right: 43px;
		border-radius: 4px 0px 0px 4px;
	}
	.searchForm-submit{
		position: absolute;
		width: 37.5px;
		height: 35.5px;
		top: calc(50% - 19px);
		right: 5px;
		border-radius: 0 5px 5px 0;
		background-color: white;
		border: 1px solid #999;
		cursor: pointer;
	}
	.searchForm-submit:hover{
		.search_glass::before {
			box-shadow: 0 0 0 2px darkgray;
		}
		.search_glass::after {
			border-top: solid 2px darkgray;
		}
	}
	.search_button{
		position: absolute;
		top: calc(50% - 19px);
		z-index: 5;
		width: 37.5px;
		height: 37.5px;
		right: 0px;
		opacity: 0;
		cursor: pointer;
	}
  	input[type="text"]{
  	  	-webkit-appearance: none;
  	  	-moz-appearance: none;
  	  	appearance: none;
  	  	padding-top: 10px;
  	  	padding-bottom: 10px;
  	  	margin: 6px 0;
  	  	border: 1px solid #999;
  	  	height: 15.5px;
  	  	border-radius: 0px;
			border-radius: 4px 0px 0px 4px;
  	}
	.search_glass{
		pointer-events: none;
	}
    .search_glass::before {
        position: absolute;
        content: '';
        width: 15px;
        height: 15px;
        top: calc(50% - 9px);
        left: calc(50% - 9px);
        border-radius: 50%;
        box-shadow: 0 0 0 2px gray;
        z-index: 0;
    }
    .search_glass::after {
        position: absolute;
        content: '';
        width: 8px;
        height: 6px;
        top: calc(50% + 6px);
        left: calc(50% + 2px);
        border-top: solid 2px gray;
        transform: rotate(45deg);
        z-index: 0;
    }
}