.top_search_form_area{
	//background-color: white;
	height: 50px;
	//box-shadow: 0px 0px 2px lightgray;
	position: relative;
	.top_search_margin{
		background-color: white;
	}
	.top_search_form{
		max-width: 700px;
		margin: 0 auto;
		position: relative;
		height: 100%;
	}
	.open_search_button{
		position: absolute;
		top: 0px;
		height: 100%;
		width: 100%;
		cursor: pointer;
	}
  	height: 50px;
	display: none;
	@media (max-width:1000px) {
		display: block;
	}
	.search_input{
		position: absolute;
		left: 10px;
		right: 49px;
		border-radius: 4px 0px 0px 4px;
	}
	.searchForm-submit{
		position: absolute;
		width: 37.5px;
		height: 35.5px;
		top: calc(50% - 19px);
		right: 10px;
		border-radius: 0 5px 5px 0;
		background-color: white;
		border: 1px solid #999;
		cursor: pointer;
	}
  	input{
  	  	-webkit-appearance: none;
  	  	-moz-appearance: none;
  	  	appearance: none;
  	  	padding-top: 10px;
  	  	padding-bottom: 10px;
  	  	margin: 6px 0;
  	  	border: 1px solid #999;
  	  	height: 15.5px;
  	  	border-radius: 0px;
  	}
    .search_glass::before {
        position: absolute;
        content: '';
        width: 15px;
        height: 15px;
        top: calc(50% - 9px);
        left: calc(50% - 9px);
        border-radius: 50%;
        box-shadow: 0 0 0 2px gray;
        z-index: 0;
    }
    .search_glass::after {
        position: absolute;
        content: '';
        width: 8px;
        height: 6px;
        top: calc(50% + 6px);
        left: calc(50% + 2px);
        border-top: solid 2px gray;
        transform: rotate(45deg);
        z-index: 0;
    }
}