.seller_search_zone{
    .seller_search_category span{
        display: inline-block;
    }
    .seller_search_flame{
        .seller_search_area{
            .modal_header{
                margin-bottom: -20px;
            }
            div{
                margin-top: -25px;
            }
            p{
                margin-top: 20px;
                margin-bottom: 5px;
            }
            input{
                
            }
            h4{
                
            }
            
        }
    }
}
@media(max-width:1000px){
    .seller_search_zone{
        display: none;
        width: 100%;
        .seller_search_flame{
            
            background-color: white;
            .seller_search_area{
                padding:0px 50px 0px 50px;
                h4{
                    display: none;
                }
            }
        }
    }
}
@media(min-width:1000px){
    .seller_search_zone{
        display: none;
        width: 240px;
        .seller_search_flame{
            background-color: white;
            border-radius: 10px;
            margin: 5px;
            box-shadow: 0 0 2px lightgray;
            .seller_search_area{
                padding:10px 5%;
                h4{
                    text-align: center;
                }
            }
        }
    }
}