@import "variables";
.sidebar_notification_zone{
    z-index: 2;
    //background-color: green;
    height: 0px;
    display: none;
    float: right;
    position: fixed;
    width: 200px;
    @media(max-width: 500px){
        width: 100%;
    }
    right: 0px;
    height: 100%;
    .menu_notification_cells_area{
        z-index: 3;
        position: absolute;
        height: calc(100% - 50px) !important;
        width:200px;
        right: 0px;
        padding:0px 0px;
        background-color: white;
        box-shadow: 0px 0px 2px lightgray;
        overflow: scroll;
        .all_notified{
            width: 100%;
            display: inline-block;
            padding: 5px 0px;
            font-size: 14px;
            text-decoration: none;
            font-weight: bold;
            text-align: center;
        }
        .all_notified:hover{
            color: #195faa;
        }
        .menu_notification_cells_flame{
            position: relative;
            width:200px;
            vertical-align: middle;
            //overflow: scroll;
            .notification_cell{
                display: block;
                min-height: 50px;
                padding-bottom: 10px;
                color: $text_grey;
                .image_area{
                    display: inline-block;
                    width: 40px;
                    float: left;
                    .image{
                        height: 30px;
                        width: 30px;
                        margin: 5px;
                        border-radius: 15px;
                        object-fit: cover;
                    }
                }
                .text_area{
                    display: inline-block;
                    width: calc(100% - 40px);
                    .new{
                        color: white;
                        font-weight: bold;
                        background-color: lightgreen;
                        border-radius: 2px;
                        padding: 0px 1px;
                        margin-right: 2px;
                        border: solid lightgreen 1px;
                    }
                    .text{
                        margin: 0px;
                        font-size: 12px;
                    }
                    .datetime{
                        display: inline-block;
                        position: relative;
                        font-size: 13px;
                        color: gray;
                        width: 100%;
                    }
                    .description{
                        display: none;
                    }
                }
                
            }
            .notification_cell:hover{
                background-color: #EEEEEE;
            }
        }
    }
    .opening .description{
        display: block !important;
    }
}
.detail_button_area{
    width: 100%;
    position: relative;
    z-index: 3;
    .detail_button_background{
        z-index: 4;
        display: inline-block;
        position: absolute;
        bottom: 3px;
        height: 40px;
        width: 40px;
        right: 0px;
    }
    .fa-solid{
        padding-left: 3px;
        padding-right: 1px;
        padding-top: 2px;
        font-size: 20px;
        height: 22px;
        width: 20px;
        z-index: 5;
        display: inline-block;
        position: absolute;
        border-radius: 12px;
        right: 3px;
        bottom: 5px;
        color: white;
        background-color: grey;
    }
}
.detail_button_area:hover{
    cursor: pointer;
}
.open_notification{
    display: inline-block;
}
@media(min-width:1000px){
    .notification_margin{
        display: none;
        height: 0px;
        width: 0px;
        z-index: -10;
    }
}