@import "variables";
.sidebar_notification_zone{
    z-index: 2;
    background-color: green;
    height: 0px;
    width: 100%;
    transition-duration: 4s;
    display: none;
    float: right;
    width:200px;
    .menu_notification_cells_area{
        z-index: 2;
        position: absolute;
        height: calc(100% - 50px);
        width:200px;
        right: 0px;
        padding:0px 0px;
        background-color: white;
        box-shadow: 0px 0px 2px lightgray;
        overflow: scroll;
        .all_notified{
            width: 100%;
            display: inline-block;
            padding: 5px 0px;
            font-size: 14px;
            text-decoration: none;
            font-weight: bold;
            text-align: center;
        }
        .all_notified:hover{
            color: #195faa;
        }
        .menu_notification_cells_flame{
            position: relative;
            width:200px;
            vertical-align: middle;
            //overflow: scroll;
            .notification_cell{
                min-height: 50px;
                padding-bottom: 10px;
                color: $text_grey;
                .image_area{
                    display: inline-block;
                    width: 40px;
                    float: left;
                    .image{
                        height: 30px;
                        width: 30px;
                        margin: 5px;
                        border-radius: 15px;
                        object-fit: cover;
                    }
                }
                .description_area{
                    display: inline-block;
                    width: calc(100% - 40px);
                    .new{
                        color: white;
                        font-weight: bold;
                        background-color: lightgreen;
                        border-radius: 2px;
                        padding: 0px 1px;
                        margin-right: 2px;
                        border: solid lightgreen 1px;
                    }
                    .description{
                        display: -webkit-box;
                        margin: 0px;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        -webkit-line-clamp: 3;
                        font-size: 12px;
                    }
                    .datetime{
                        font-size: 13px;
                        color: gray;
                    }
                }
            }
            .notification_cell:hover{
                background-color: #EEEEEE;
            }
        }
    }
    .notification_margin{
    }
}
.open_notification{
    display: inline-block;
}
@media(min-width:1000px){
    .notification_margin{
        display: none;
        height: 0px;
        width: 0px;
        z-index: -10;
    }
}