$(document).ready(function() {
  // 通知から同じページを開いたときに、処理が重複するためイベントを設定する前に、同じイベントが既に存在する場合は解除する
  $(document).off("ajax:success", ".pre_inquery_modal .chat-form");
  $(document).off("ajax:error", ".pre_inquery_modal .chat-form");
  $(document).on("ajax:success", ".pre_inquery_modal .chat-form", function(event) {
    console.log("成功だよ")
    const $form = $(this); // Current form inside the specific modal
    const [data, status, xhr] = event.detail;
    const $modal = $form.closest(".pre_inquery_modal"); // Find the closest modal for this form
    const $messageDiv = $modal.find("#pre_purchase_inquiry_message");
    const bodyInput = $form.find("input[name='transaction_message[body]']").val();
    console.log(bodyInput)
    const newMessageHtml = 
    `<%= render "user/pre_purchase_inquiries/cell", 
        image_url: current_user.thumb_with_default,
        side: 'right',
        body: '${bodyInput}'
        %>`;
    const $messageContainer = $modal.find(".modal_window_body .text_area");
    $messageContainer.append(newMessageHtml);
    $messageDiv.html(`<p>${data.message}</p>`);
    $form.hide();
    $modal.find('.submit_area .label_area').hide();
    $modal.find(".submit_area .message").show();
    $form[0].reset();
  });

  $(document).on("ajax:error", ".pre_inquery_modal .chat-form", function(event) {
    const $form = $(this); // Current form inside the specific modal
    const [data, status, xhr] = event.detail;
    const $modal = $form.closest(".pre_inquery_modal"); // Find the closest modal for this form
    const $messageDiv = $modal.find("#pre_purchase_inquiry_message");
    if(data.message === undefined || data.errors === undefined ){
      $messageDiv.html(`<p>エラー：</br>${data}</p>`);
    }else{
      $messageDiv.html(`<p>${data.message}<br/>${data.errors.join(", ")}</p>`);
    }
    $form.hide();
  });

  $('.open_button').on('click', function(event){
    $(this).next().addClass("open");
  });
  $('.modal_delete').on('click', function(){
      $('.modal_window').removeClass("open");
    });
  $('.modal_background').on('click', function(e){
      $('.modal_window').removeClass("open");
  })
});
