<div class="flow_unit">
	<div class="component_area">
	    <div class="flow_description"><span><%=title%></span></div>
	    <div class="flow_image_area">
	        <img class="tranaction_flow_image" src="<%= src %>">
	    </div>
	</div>
	<%if use_arrow %>
		<div class="arrow_area">
		    <div class="arrow-right"></div>
		</div>
	<% end %>
</div>