<!--
<label><%=label%>：</label></br>
<div class="small_label_area"><label class="label">タイトル　</label><span class="label_line"></span></div>
<p><%=text%></p>
-->
<tr>
<td><%=label%>：</td>
<td>
<p><%=text%></p>
</td>
</tr>
