<div class="about_detail_zone about_zone">
  	<div class="center_area">
  	  	<h2 class="zone_title">サービスの詳細</h2>
  	  	<div class="component_area">
  	  	<h3 class="title_h3">コレテクとはどんなサービスですか？</h3>
  	  	Q&Aサイトとして相談ができる、質問と回答のマーケットプレイスです。　
  	  	<!--
  	  	  コレテクとは悩みを相談したい人と、相談してお金を稼ぎたい人ををマッチングさせるプラットフォームサービスです。</br>
  	  	  そもそもスキルシェアとは何なのか、説明いたします。 
  	  	  スキルシェアとは「自分の能力を他者に供与したり、他者の能力を収受したりすること」を指します。例えば、勉強を教えてあげる、動画を編集してあげる、相談に乗ってあげるなどがあります。
  	  	  そして、スキルを提供しい人と供給してほしい人を仲介するサービスをスキルシェアサービスといいます。
  	  	  本サービスの場合はスキルシェアではありますがその中でも出品内容を相談に限定します。
  	  	  ただお悩み相談をサービスとして売買できるスキルシェアサービスとしては他にも同じようなプラットフォームがございますが、我々のプラットフォームの特徴は３つあります。
  	  	  <ol class="transaction_flow">
  	  	    <li>１つ目の特徴が相談内容がサイト上で公開されることです。相談者の過去の相談が閲覧可能であるため売り手は相談の質で差別化でき、買い手は相談の質で判断できます。</li>
  	  	    <li>２つ目の特徴が相談のフォーマットを指定することです。現在のところ文章、画像、動画で依頼、納品することが可能で、購入する際にそれらのフォーマットが指定されています。
  	  	    よって利用者間のトラブルが発生しにくいようになっています。
  	  	    </li>
  	  	    <li>３つ目の特徴はSNSとの連携が豊富なことです。文章での質問、回答は画像化され、質問箱のようにtwitterやfacebookにシェアできます。また、動画での質問回答はYouTubeを使用することができます。</li>
  	  	  </ol>
  	  	  -->
  	  	  <h3 class="title_h3">取引の流れ</h3>
  	  	  取引の流れは、出品された相談室に質問をする方法と、質問を公開して、相談室を募集する方法の２つあります。</br>
  	  	  出品された相談室に質問をする方法は以下の通りです。
  	  	  <ol class="transaction_flow">
  	  	    <li>回答したい人が相談室を出品</li></br>
  	  	    <li>相談したい人が出品されている相談室の中から選択し、相談を依頼</li></br>
  	  	    <li>依頼された回答者が回答を公開</li></br>
  	  	  </ol>
  	  	  質問を公開して、相談室を募集するは以下の通りです。
  	  	  <ol class="transaction_flow">
  	  	    <li>質問したい人が、質問を公開して相談室を募集</li></br>
  	  	    <li>回答する人が公開された質問に対して、相談室を提案</li></br>
  	  	    <li>質問したい人が提案された相談室に相談を依頼</li></br>
  	  	    <li>相談を依頼された人回答を作成し、公開</li>
  	  	  </ol>

  	  	  <h3 class="title_h3">サービススキーム</h3>
  	  	  <%= image_tag "/サービススキーム.jpg", class:"service_scheme_image"%>

  	  	  <h3 class="title_h3">料⾦</h3>
  	  	  サービスの提供者が⾦額を決定します。設定できる上限⾦額は一回の相談あたり１万円までとします。
  	  	  <h3 class="title_h3">役務提供期間</h3>
  	  	  相談一回当たりの販売になりますので継続的な役務提供はありません。

  	  	  <!--
  	  	  <h3 class="title_h3">個⼈事業主の排除</h3>
  	  	  営利⽬的の事業者の排除のため、販売者が登録をする際、個⼈か個⼈事業主であるかを選択させ、個⼈事業主である場合は出品者としての登録を不可とします。
  	  	  <h3 class="title_h3">営利⽬的の事業者の排除</h3>
  	  	  販売者ごとの年間の売上⾦を弊社で管理し、20万円を超える場合は営利⽬的の商品販売と判断します。営利⽬的と⾒做した販売者のアカウントは、年内の商品販売不可といたします。
  	  	  <h3 class="title_h3">販売者（サービス提供者）の審査体制</h3>
  	  	  -->
  	  	  <ol class="transaction_flow">
  	  	    <li>本⼈確認資料の提出</li>
  	  	    <li>SMS認証による本⼈確認</li>
  	  	  </ol>
  	  	  <h3 class="title_h3">販売商品（相談室）のチェック</h3>
  	  	  新規に公開された商品は２４時間体制で監視し、アダルトなど不適切と思われる商品が販売されている場合は直ちに削除を実施します。また併せて、販売者カウントを停⽌します。
  	  	  同様に、販売価格が適正でないと思われるような⾼額商品の取り扱いがあった場合は、取引を保留とし不正決済の可能性がないかを購⼊者等に確認します。

  	  	  <h3 class="title_h3">不正利⽤対策について</h3>
  	  	  過去に不正利⽤と判断したものと同⼀情報で注⽂があった場合は発送(提供)をしない、またIPアドレスブロック等を⾏う。

  	  	  <h3 class="title_h3">サービスの運⽤について</h3>
  	  	  支払のタイミングはサービス提供前といたします。事前にポイントを購入していただく形式となっています。</br>
  	  	  振り込みのタイミングは納品と同時といたします。事前に購入したポイントを消費いたします。</br>
  	  	  サービス提供者に係る情報を管理いたします。※個⼈を特定できる情報（⽒名、⽣年⽉⽇、住所、電話番号、メールアドレス等）</br>
  	  	  カード会社側から依頼があった際はサービス提供者情報の開⽰を⾏います。</br>
  	  	  割賦販売法を含む関連法令、国際ブランドルールが定める調査等に応じます。</br>
  	  	  純個⼈の営利⽬的が確認された場合は取引停⽌といたします。</br>
  	  	</div>
  	</div>
</div>
<!--
    <div class="video_area">
    <video class="video 16_to_9" autoplay="autoplay" loop="loop" muted="muted" class="video-content" id="video" src="https://hase-s3test.s3.amazonaws.com/uploads/user/avatar/8/%E3%82%B5%E3%83%BC%E3%83%92%E3%82%99%E3%82%B9%E6%A6%82%E8%A6%81.mp4" controls></video>
    </div>
    
</div>
<div class="about_flame">
        <div class="file_area" id="file_area">
        </div>
    </div>
    -->
<script>
//var file_area = document.getElementById("file_area")
//if (navigator.userAgent.match(/iPhone|Android.+Mobile/)) {
//    console.log("スマホ")
//    file_area.innerHTML = '<%=link_to "サービス概要", "/サービス概要.pdf" %>';
//  } else {
//    console.log("パソコン")
//    file_area.innerHTML = '<object data="/サービス概要.pdf" type="application/pdf" class="pdf window_height" width="100%"></object>';
//  }
</script>