<div class="about_detail_zone about_zone">
  <div class="center_area">
    <h2 class="zone_title">サービスの詳細</h2>
    <div class="component_area">
    <h3 class="title_h3">概要</h3>
    　コレテクを一言で説明すると「ノウハウを売買するQ&Aサイト」です。質問や回答をするQ&Aサイトと個人間で売買をするフリマサイトを融合させた新サービスです。質問や悩み相談を依頼したい人と、回答や相談をしてお金を稼ぎたい人をマッチングさせるプラットフォームです。
    相談をサービスとして売買できるサービスとしては他にもございますが、本サービスの最大の特徴は質問とその回答がサイト上で公開されることです。回答者の過去の回答が閲覧可能であるため売り手は相談の質で差別化でき、買い手は相談の質で判断できます。なのでQ&Aサイトでもあります。
    <!--
      コレテクとは悩みを相談したい人と、相談してお金を稼ぎたい人ををマッチングさせるプラットフォームサービスです。</br>
      そもそもスキルシェアとは何なのか、説明いたします。 
      スキルシェアとは「自分の能力を他者に供与したり、他者の能力を収受したりすること」を指します。例えば、勉強を教えてあげる、動画を編集してあげる、相談に乗ってあげるなどがあります。
      そして、スキルを提供しい人と供給してほしい人を仲介するサービスをスキルシェアサービスといいます。
      本サービスの場合はスキルシェアではありますがその中でも出品内容を相談に限定します。
      ただお悩み相談をサービスとして売買できるスキルシェアサービスとしては他にも同じようなプラットフォームがございますが、我々のプラットフォームの特徴は３つあります。
      <ol class="transaction_flow">
        <li>１つ目の特徴が相談内容がサイト上で公開されることです。相談者の過去の相談が閲覧可能であるため売り手は相談の質で差別化でき、買い手は相談の質で判断できます。</li>
        <li>２つ目の特徴が相談のフォーマットを指定することです。現在のところ文章、画像、動画で依頼、納品することが可能で、購入する際にそれらのフォーマットが指定されています。
        よって利用者間のトラブルが発生しにくいようになっています。
        </li>
        <li>３つ目の特徴はSNSとの連携が豊富なことです。文章での質問、回答は画像化され、質問箱のようにtwitterやfacebookにシェアできます。また、動画での質問回答はYouTubeを使用することができます。</li>
      </ol>
      -->
      <h3 class="title_h3">取引方法</h3>
      取引の流れとしては、主に２つあります。</br>
      　１つ目の方法はあらかじめ出品されたサービスを買う方法です。
      <ol class="transaction_flow">
        <li>まず、サービスを売りたい人がサービス内容、料金、納期、質問形式、回答形式などの条件を決めサービスを出品します。</li>
        <li>次にサービスを買いたい人が出品されているサービスの中から買いたいサービスを選択し購入します。</li>
        <li>その後、依頼された人は納期までに依頼品に対して、購入されたサービスの内容通りのサービスを作成し、当サイト上にサービスを公開します。納品された時点で取引が完了です。</li>
      </ol>
      　２つ目の方法は相談したい人が依頼を公開し、サービスを売る人が公開された依頼にサービスを提案し、相談したい人が提案されたサービスを買う方法です。
      <ol class="transaction_flow">
        <li>まず、相談したい人が相談したい内容を用意し、同時に予算、納期、質問形式、回答形式などのサービスの条件を決め相談内容と依頼内容を当サイト上に公開し、相談してくれる人を募集します。</li>
        <li>次にサービスを売る人が公開された依頼の中で対応できそうなものを選択し、選択した依頼に対して改めて料金や納期、サービス内容などの条件を決めサービスを提案をします。</li>
        <li>その次に依頼した人が提案されたサービスの中から最適な提案を選択し、依頼します。</li>
        <li>その後、依頼された人は納期までに依頼品に対して、依頼されたサービスの内容通りにサービスを作成し、当サイト上にサービスを公開します。納品された時点で取引が完了です。</li>
      </ol>

      相談内容がサイトが公開されるのが特徴としましたが上記の取引の際はいずれも公開され相談の依頼内容、相談の受け答え内容は誰でも閲覧可能です。なのでQAサイトのような側面も持っています。
      なので、取引に直接関係しない人でも閲覧することで勉強することが可能になっています。
      現在のところ相談のカテゴリーをビジネス、キャリア、就活に限定してますが今後カテゴリーを増やしていくつもりです。

      <h3 class="title_h3">サービススキーム</h3>
      <%= image_tag "/サービススキーム.jpg", class:"service_scheme_image"%>

      <h3 class="title_h3">料⾦</h3>
      サービスの提供者が⾦額を決定します。設定できる上限⾦額は一回の相談あたり１万円までとします。
      <h3 class="title_h3">決済対象となる相談内容</h3>
      ビジネス、キャリア、就活のみが対象となっており、出品する際にそれらを
      <h3 class="title_h3">役務提供期間</h3>
      相談一回当たりの販売になりますので継続的な役務提供はありません。

      <!--
      <h3 class="title_h3">個⼈事業主の排除</h3>
      営利⽬的の事業者の排除のため、販売者が登録をする際、個⼈か個⼈事業主であるかを選択させ、個⼈事業主である場合は出品者としての登録を不可とします。
      <h3 class="title_h3">営利⽬的の事業者の排除</h3>
      販売者ごとの年間の売上⾦を弊社で管理し、20万円を超える場合は営利⽬的の商品販売と判断します。営利⽬的と⾒做した販売者のアカウントは、年内の商品販売不可といたします。
      <h3 class="title_h3">販売者（サービス提供者）の審査体制</h3>
      -->
      <ol class="transaction_flow">
        <li>本⼈確認資料の提出</li>
        <li>SMS認証による本⼈確認</li>
      </ol>
      <h3 class="title_h3">販売商品（サービス）のチェック</h3>
      新規に公開された商品は２４時間体制で監視し、アダルトなど不適切と思われる商品が販売されている場合は直ちに削除を実施します。また併せて、販売者カウントを停⽌します。
      同様に、販売価格が適正でないと思われるような⾼額商品の取り扱いがあった場合は、取引を保留とし不正決済の可能性がないかを購⼊者等に確認します。

      <h3 class="title_h3">不正利⽤対策について</h3>
      過去に不正利⽤と判断したものと同⼀情報で注⽂があった場合は発送(提供)をしない、またIPアドレスブロック等を⾏う。

      <h3 class="title_h3">サービスの運⽤について</h3>
      支払のタイミングはサービス提供前といたします。事前にポイントを購入していただく形式となっています。</br>
      振り込みのタイミングは納品と同時といたします。事前に購入したポイントを消費いたします。</br>
      サービス提供者に係る情報を管理いたします。※個⼈を特定できる情報（⽒名、⽣年⽉⽇、住所、電話番号、メールアドレス等）</br>
      カード会社側から依頼があった際はサービス提供者情報の開⽰を⾏います。</br>
      割賦販売法を含む関連法令、国際ブランドルールが定める調査等に応じます。</br>
      純個⼈の営利⽬的が確認された場合は取引停⽌といたします。</br>
    </div>
  </div>
</div>
<!--
    <div class="video_area">
    <video class="video 16_to_9" autoplay="autoplay" loop="loop" muted="muted" class="video-content" id="video" src="https://hase-s3test.s3.amazonaws.com/uploads/user/avatar/8/%E3%82%B5%E3%83%BC%E3%83%92%E3%82%99%E3%82%B9%E6%A6%82%E8%A6%81.mp4" controls></video>
    </div>
    
</div>
<div class="about_flame">
        <div class="file_area" id="file_area">
        </div>
    </div>
    -->
<script>
//var file_area = document.getElementById("file_area")
//if (navigator.userAgent.match(/iPhone|Android.+Mobile/)) {
//    console.log("スマホ")
//    file_area.innerHTML = '<%=link_to "サービス概要", "/サービス概要.pdf" %>';
//  } else {
//    console.log("パソコン")
//    file_area.innerHTML = '<object data="/サービス概要.pdf" type="application/pdf" class="pdf window_height" width="100%"></object>';
//  }
</script>