<div class="abouts_how_zone">
    <div class="abouts_how_flame">
        <h2>取引の流れ</h2>
        <h3 class="abouts_how_title">公開依頼の場合</h3>
        <table class="abouts_how_area">
            <tbody>
                <tr>
                    <td class="buyer_area">買う人</td>
                    <td>：</td>
                    <td>依頼を作成し、公開</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>↓</td>
                </tr>
                <tr>
                    <td class="seller_area">売る人</td>
                    <td>：</td>
                    <td>公開された依頼に対し、サービスを提案</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>↓</td>
                </tr>
                <tr>
                    <td class="buyer_area">買う人</td>
                    <td>：</td>
                    <td>提案されたものの中からサービスを選択し、購入</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>↓</td>
                </tr>
                <tr>
                    <td class="seller_area">売る人</td>
                    <td>：</td>
                    <td>納期までに依頼に対して回答を納品</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>↓</td>
                </tr>
                <tr>
                    <td class="buyer_area">買う人</td>
                    <td>：</td>
                    <td>取引に評価、コメントをする</td>
                </tr>
            </tbody>
        </table>
        <h3 class="abouts_how_title">既存のサービスを売買する場合</h3>
        <table class="abouts_how_area">
            <tbody>
                <tr>
                    <td class="seller_area">売る人</td>
                    <td>：</td>
                    <td>サービスを作成し、公開</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>↓</td>
                </tr>
                <tr>
                    <td class="buyer_area">買う人</td>
                    <td>：</td>
                    <td>販売されているものの中からサービスを選択し、購入</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>↓</td>
                </tr>
                <tr>
                    <td class="seller_area">売る人</td>
                    <td>：</td>
                    <td>納期までに依頼に対して回答を納品</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>↓</td>
                </tr>
                <tr>
                    <td class="buyer_area">買う人</td>
                    <td>：</td>
                    <td>取引に評価、コメントをする</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>