<div class="how_to_zone step_zone center_zone">
    <div class="how_reject_area center_area">
        <h2 class="zone_title">質問を断る方法</h2>
        <div class="component_area">
            <ol class="step_area">
                <li class="step"><span class='circle_number'>①</span><%= link_to "ログインページ", new_user_session_path%>でログイン</li>
                <li class="step"><span class='circle_number'>②</span>右上ボタンからサイドメニューを開いて、「取引一覧」を選択し、取引一覧のページに移動</li>
                <li class="step"><span class='circle_number'>③</span>メニューバーにある「<%= link_to "納品前", user_orders_path(user:"seller", scope:"ongoing")%>」を選択</li>
                <li class="step"><span class='circle_number'>④</span>お断りしたい取引を選択して取引ページに移動</li>
                <li class="step"><span class='circle_number'>⑤</span>「理由を作成してお断り」を選択後、お断り内容を作成するページに移動</li>
                <%#= image_tag "/open_orders_index.png", class:"width_100"%>
                <li class="step"><span class='circle_number'>⑥</span>断る理由を記入し、「送信」を選択し、表示される確認ダイアログで「OK」を選択</li>
                <div class="caution">※回答を断った場合には、回答者は報酬を受け取れません。</div>
                <div class="caution">※質問者が購入時に消費したポイントは返金され、購入前に戻ります。</div>
            </ol>
            <%#= image_tag "/reject_order.png", class:"width_100"%>
        </div>
    </div>
</div>