<div class="how_to_zone center_zone step_zone">
    <div class="how_cancel_area center_area">
        <h2 class="zone_title">購入のキャンセル方法</h2>
        <div class="component_area">
            <ol class="step_area">
                <li class="step"><span class='circle_number'>①</span><%= link_to "ログインページ", new_user_session_path%>でログイン</li>
                <li class="step"><span class='circle_number'>②</span>右上ボタンからサイドメニューを開き、「<%=link_to "取引一覧", user_orders_path %>」を選択</li>
                <%#= image_tag "/open_orders_index.png", class:"width_100"%>
                <li class="step"><span class='circle_number'>③</span>メニューバーにある「<%= link_to "購入中", user_orders_path(user: "buyer", scope:"ongoing")%>」を選択</li>
                <li class="step"><span class='circle_number'>④</span>キャンセルしたい取引を選択し、取引内容のページに移動</li>
                <li class="step"><span class='circle_number'>⑤</span>「購入をキャンセル」を選択し、表示される確認ダイアログで「OK」を選択</li>
                <div class="caution">※購入のキャンセルは納期が過ぎても回答が納品されない場合にしかでません。</div>
                <div class="caution">※購入をキャンセルした場合には、売り手は報酬を受け取れません。また、質問者の購入時に消費したポイントは戻され購入前に戻ります。</div>
            </ol>
            <%##= image_tag "/how_to_use/order_index_cancel.png", class:"width_100"%>
        </div>
    </div>
</div>