<div class="about_inquiry_zone about_zone">
    <div class="about_inquiry_flame about_flame">
    <h2>お問合せ</h2>
        <div class="about_area">
            <div class="about_inquiry_area">
            <h3>メールアドレス：corretech.officialアットマークgmail.com<h3>
            <%= link_to "twitterアカウント", "https://twitter.com/3UJVrqxCS0V4bin"%>
            </div>
        </div>
    </div>
</div>