<div class="how_to_zone center_zone">
    <div class="how_sell_area center_area">
        <h2 class="zone_title">出品する相談室の指針</h2>
        <div class="component_area">
			<div class="label_area">
				<label class="label">どんな内容を出品すればいいの？</label>
			</div>
			<p>どんな内容を出品すればいいか、わからない。
			そんな方に向けて、推奨される相談室の内容、注意点を以下に説明します。
			
			</p>
			<div class="label_area">
				<label class="label">内容の注意点</label>
			</div>
        	<ol class="step_area check_step_area">
        	    <li class="step">何が相談できるか、何を回答するのかが明確である</li>
        	    <li class="step">回答者の過去の実績や経歴などのバッググラウンドが確認できる</li>
        	    <li class="step">提供する内容が選択されたカテゴリーに沿ったものとなっている</li>
        	</ol></br>
			<div class="label_area">
				<label class="label">良い例 ①</label>
			</div>
			<table>
				<tr>
					<td>タイトル：</td>
					<td>
					フロントエンドエンジニアのキャリア相談</td>
				</tr>
				<tr>
					<%= render "abouts/service_example", 
					label: "詳細",
					text: 
					"""ウェブエンジニアとして企業サイトの制作やウェブアプリケーション開発に携わってきた実務経験を活かし、キャリアに関するお悩みやご相談にお答えします。
						✔️これからIT業界を目指す方
						✔️フロントエンド開発のスキルを磨きたい方
						✔️エンジニアのキャリアに悩みを持つ方
						など、初心者から経験者まで幅広くサポートいたします。技術的な疑問やスキルアップの方法、転職活動のアドバイスなど、お気軽にご相談ください。
						・スキルアップのアドバイス
						　・最新の技術トレンドやおすすめのリソース紹介
						　・転職・就職活動のサポート
						・履歴書・職務経歴書の書き方のポイント
						　・面接でのアピール方法や注意点
						　・業界未経験者へのアドバイス
						・キャリアプランニング
						　・長期的なキャリア形成の考え方
						　・自分に合った職場や働き方の見つけ方
						・実務での疑問解消
						　・プロジェクトでのコミュニケーション方法
						　・チーム開発での役割や責任の持ち方""" %>
				</tr>
			</table>
			</br>
			<div class="label_area">
				<label class="label">良い例 ②</label>
			</div>
			<table>
				<tr>
					<td>タイトル：</td>
					<td>ビジネスのためのWebマーケティング戦略</td>
				</tr>
					<%= render "abouts/service_example", 
					label: "詳細",
					text: """数年にわたる企業でのWebマーケティング実務経験と、フリーランスとして中小企業を支援してきた経験を活かし、あなたのビジネスに最適なWebマーケティング戦略を一緒に考えます。SEO対策、SNS活用、コンテンツマーケティングなど、さまざまな施策の中から、あなたのビジネスの状況に最適な方法を提案します。

					事例：
					・SEOとコンテンツ戦略の見直し：
					あなたのウェブサイトの現状を分析し、改善点や取り組むべきキーワードのリサーチを行います。キーワード戦略やコンテンツアイデアについて、一緒にブレインストーミングを行います。
					・SNS活用の最適化：
					過去にSNSフォロワーを2倍に増やしたノウハウを活かし、あなたのビジネスに最も適したSNS戦略についてアドバイスします。
					・データに基づくマーケティング改善提案：
					Google Analyticsやその他の分析ツールを使って、あなたのウェブサイトのデータを解析し、次の施策を決定します。
					・広告運用に関する相談：
					Google広告やFacebook広告の運用経験をもとに、効果的な広告キャンペーンの立案と運用に関するアドバイスを提供します。
					広告の予算設定やターゲティング、クリエイティブの改善提案を行います。

					対象：
					✔️ウェブサイトやSNSをもっと有効活用したい中小企業オーナー
					✔️フリーランスを目指してwebマーケティングを学んでいる方
					✔️新規顧客を獲得したいと考えているビジネスオーナー
					✔️既存のマーケティング戦略を見直し、改善したいマーケティング担当者""" %>
				<tr>
				<td></td>
				</tr>
			</table>
			<div class="label_area">
				<label class="label">良くない例</label>
			</div>
			<table>
				<tr>
					<td>タイトル：</td>
					<td>フロントエンドエンジニアのキャリア相談室</td>
				</tr>
				<%= render "abouts/service_example", 
					label: "詳細",
					text: """フロントエンドエンジニアのキャリアについて質問してください。なんでも答えます。
					""" %>
				<tr>
					<td>ダメな要素：</td>
					<td> 
					❌ 何を相談できるか、どんな回答をするか、不明確</br>
					❌ 回答者の過去の実績や経歴などのバッググラウンドが不明
					</td>
				</tr>
			</table>
        </div>
    </div>
</div>
<script>
var pdf_area = document.getElementById("pdf_area");

function isSmartPhone(){
  if (navigator.userAgent.match(/iPhone|Android.+Mobile/)) {
    return true;
  } else {
    return false;
  }
}

if(isSmartPhone()){
    pdf_area.innerHTML = '<a href="/出品するサービスの指針.pdf">出品するサービスの指針</a>';
}

</script>