<div class="abouts_term_of_service_zone center_area">
    <h2 class="zone_title">利用規約</h2>
    <div class="component_area">
    <h3>第1条（本サービスの利用）</h3>
        <ol>
            <li>利用者は、本規約の定めに従って当サービスを利用しなければなりません。</li>
            <li>利用者は、申し込みフォームを送信すること又は本サービスを実際に利用することによって、本規約の内容及び本規約が本サービスの利用契約の内容となることに同意したものとみなされます。</li>
        </ol>
    <h3>第２条（利用者登録）</h3>
        <ol>
            <li>本サービス利用希望者は、申し込みフォームに必要事項を正しく記入した上で申し込むものとし、運営から利用者登録が完了した旨を通知された時点又は利用者が本サービスを実際に利用した時点で、本規約に記載された事項を契約内容とする本サービスの利用契約が成立し、本規約の条件による本サービスの利用の許可が運営より利用者に有効に付与されるものとします。</li>
        </ol>
    <h3>第３条（利用規約の変更について）</h3>
        <ol>
            <li>運営は、以下の各号のいずれかに該当する場合、利用者にあらかじめ通知することなく、本規約及び本サイトの仕様等を変更することができるものとします。
            </br>(1)変更内容がサービス名や表現の変更または誤字、脱字等の修正であり、本利用規約の内容に実質的な影響を与えない場合
            </br>(2)変更内容が利用者の一般の利益に適合する場合
            </br>(3)変更内容が契約をした目的に反せず、かつ、変更の必要性、変更後の内容の相当性その他変更に係る事情に照らして合理的なものである場合</li>
            <li>運営は、前項第2号及び前項第3号による変更の場合、本規約変更の効力発生の相当期間前までに、本規約を変更する旨及び変更後の本規約の内容並びにその効力発生時期を本サイト等への掲載その他運営が適当と判断する方法により通知します。なお、この変更に起因して生じた直接及び間接的な損害に関して、運営は一切の責任を負いません。</li>
        </ol>
    <h3>第４条（非保証・免責）</h3>
        <ol>
            <li>運営は、提供するサービスの内容について、バグ・不備・コンピュータウィルス等のないことを保証するものではなく、これに起因する直接及び間接的な損害に関する一切の責任を負うものではありません。</li>
            <li>運営は、本サービスが利用者の皆様に役立つよう最大限の努力を行いますが、利用者に対する運営の責任は、利用者が支障なく本サービスを利用できるよう、合理的な努力をもって本サービスを運営することに限られるものとします。本サービスの内容において、欠陥、一時停止、一部削除、変更、終了及びそれらが原因で発生した利用者又は他者の損害、本サービスの利用により又は利用できなかったことにより発生した利用者の損害、並びに本サービスに起因する利用者又は他者の損害に対し、いかなる責任も負わないものとし、損害賠償義務を一切負わないものとします。</li>
            <li>運営は、本サービスに関連して利用者間又は利用者と第三者間で発生した一切のトラブルについて、一切の責任を負わず、関知しません。万一トラブルが生じた場合は、訴訟内外を問わず当事者間で解決するものとし、当該トラブルにより運営が損害を被った場合は、当事者は連帯して運営に対し、運営に生じた弁護士費用を含むすべての費用及び当該損害を賠償するものとします。</li>
        </ol>
    <h3>第５条（通知または連絡）</h3>
        <ol>
            <li>運営は、利用者に連絡を行う場合、電子メール、チャット、又は本サイトに掲載する方法のうち、運営が任意に選択した方法により行うものとします。</li>
            <li>電子メールによる通知は、運営が利用者にメール送信した時点で効力を発するものとみなし、本サイトへの掲載による通知は、本サイトに掲載した時点で効力を発するものとみなします。</li>
            <li>運営は、利用者からお問い合わせを頂いた場合、原則として電子メールのみで回答するものとします。但し、運営の判断によって、電子メール以外の方法で回答する場合もあるものとします。</li>
        </ol>
    <h3>第６条（IDやパスワード等の管理）</h3>
        <ol>
            <li>利用者は発行されたID及びパスワードを運営の事前の承諾を得ることなく、第三者に譲渡、貸与若しくは開示し、又は使用させないものとします。</li>
            <li>利用者を特定する所定の認証方法（IDとパスワードの組み合わせや運営が定める他社サービスを利用した認証方法などを指しますが、これらに限られません）によりログインされた場合には、当該利用者ご自身によるご利用であるとみなします。</li>
            <li>前項の場合、利用者は、本サイトのサービスの利用等によって、料金や代金が発生した場合には、その料金の支払い義務を負うものとし、第三者の使用によること等を理由に支払い義務を免れるものではないものとします。</li>
        </ol>
    <h3>第7条（個人情報の取り扱いについて）</h3>
        <ol>
            <li>運営は、個人情報及びそれに類する情報を、「プライバシーポリシー」に基づき、適切に取扱うものとします。</li>
            <li>個人情報の保護に関する法律第23条1項各号に定める事項に該当すると運営が判断する場合には、個人情報を第三者に提供することがあります。</li>
        </ol>
    <h3>第8条（本サービスの利用条件）</h3>
        <ol>
            <li>利用者は、本規約に反しない範囲において本サービスを利用することができるものとします。</li>
            <li>利用者は、本サービスの利用にあたり、以下の各号のいずれかに該当する行為をしてはなりません。
            </br>(1)法令及び本規約に違反する行為
            </br>(2)所属する企業又は業界団体等の組織の内部規則等に違反する行為
            </br>(3)政治的又は宗教的思想を含む情報を提供する行為及び政治的又は宗教的な勧誘を行う行為
            </br>(4)本サービスと競合するサービス等を宣伝する行為及びこれに類する行為
            </br>(5)検索エンジンスパム行為及び第三者の検索エンジンスパム行為を直接又は間接的に助長する行為並びにこれらに類する行為
            </br>(6)本サービス内で不当に情報を操作する行為
            </br>(7)不正アクセス、改ざん及びコンピュータウィルスや有害なコンピュータプログラム等により運営ウェブサイトを攻撃する行為
            </br>(8)複数の利用者名又はパスワードを利用する行為
            </br>(9)電話による回答を執拗に要求する等、本規約に反する不当な要求を繰り返すなどして、運営に義務のない応答や対応を強要する行為
            </br>(10)猥褻な情報又は青少年に有害な情報の送信、それらを掲載する他のウェブサイトへの誘導をする行為及びその他猥褻又は青少年に有害な言動を発する行為
            </br>(11)異性交際に関する情報の送信、その他異性交際を目的として本サービスを利用する行為
            </br>(12)その他公正な取引慣行に反する行為
            </br>(13)本サービスの運営を妨害する行為
            </br>(14)本サイトを介さずに行う直接取引やそれを勧誘する行為、又は、勧誘に応じる行為。（本サービスで取引開始をした利用者と再度取引する場合を含む）
            </br>(15)利用利用者の目的と合致しない宣伝広告及び誤解又は損害等を与えるおそれのある行為
            </br>(16)虚偽の情報を登録・記入・送信する行為
            </br>(17)過去に本利用規約違反等の理由により利用者資格の取り消しを受けていたにも関わらず、利用者登録の申込をする行為
            </br>(18)コンピュータウィルス等の有害なコンピュータプログラム等を送信または頒布する行為、チェーンメール・スパムメール等の送信を目的とする行為、並びに本サービスに著しく負荷のかかる行為
            </br>(19)本サービスにより利用しうる情報を改ざんまたは消去する行為
            </br>(20)運営または第三者の財産、プライバシー、名誉または肖像権を侵害する行為、または侵害するおそれのある行為、ストーカー的行為
            </br>(21)運営または第三者の著作権、特許権、実用新案権、意匠権、商標権及びノウハウ等その他一切の知的財産権を侵害する行為
            </br>(22)運営または第三者を差別・誹謗中傷し、その名誉または信用を毀損する行為、並びに人種的・民族的・宗教的に不快感を与える行為
            </br>(23)その他運営が不適切であると判断する行為
            </li>
            <li>運営は、利用者の本サービスの利用時の行為が前項各号及び本項のいずれかに該当し、又は該当するおそれがあると運営が判断した場合には、事前に通知することなく、当該行為の全部又は一部を停止させ、又は当該行為により本サイトに掲載された情報の全部又は一部を削除する等、前項に定める違反行為を排除し、一時的な利用停止及び退会等のあらゆる措置を講じることができるものとします。
            </br>(1)利用者が最後にログインした日から3年が経過した場合
            </br>(2)支払停止若しくは支払不能となり、又は破産、特別清算開始、会社更生手続開始、民事再生手続開始及びその他これらに準じる手続の開始申立てがあった又はかかる手続の申立てがなされていることが判明した場合
            </br>(3)自ら振出し、若しくは引受けた手形又は小切手につき、不渡りの処分を受けた場合
            </br>(4)差押、仮差押、仮処分、強制執行又は競売の申立てがあった場合
            </br>(5)租税公課の滞納処分を受けた場合
            </br>(6)死亡した場合又は後見開始、保佐開始若しくは補助開始の審判を受けた場合
            </br>(7)その他運営が本サービスの会員登録の継続が適切でないと判断した場合</li>
            <li>運営は、利用者間で紛争が生じた際、プランの削除、報酬の支払い又は留保並びに当該利用者が利用できる本サービスの機能の一部又は全部の停止その他必要な措置を取ることができるものとします。</li>
            <li>運営は、前項に定める停止、削除等の措置を講じたことにより利用者に生じた損害から、一切免責されるものとし、上記利用者に対するいかなる法的・道義的責任も負うものではありません。</li>
            <li>運営は、本サービス利用時の利用者の行為が本条第2項及び3項の各号のいずれかに該当し、又は該当するおそれがあるか否かを判断するため、当該利用者のメッセージを閲覧又は確認することができるものとし、利用者は予めこれに同意するものとします。            </li>
        </ol>
    <h3>第9条（本サービスの利用料及び支払方法に関する事項）</h3>
        <ol>
            <li>本サービスでは支払いはクレジットカードを利用いたします。</li>
            <li>決済する際の通貨は日本円のみを可能とします。</li>
            <li>また利用者が出品するサービスは100円以上10000以下の範囲で100円ごとに価格の設定を可能とします。</li>
            <li>収益の入金は<%=date_of_payment%>が可能です。</li>
            <li>運営は収益の振込みが上記に定められた通りに施行されるよう努力するものではありますが、万が一遅延した際には、運営は一切責任を追うものではありません。</li>
        </ol>
    <h3>第10条（退会）</h3>
        <ol>
            <li>退会には下記の2つがあります。
            </br>(1)利用者による退会
            </br>(2)運営による強制退会</li>
            <li>利用者による退会を希望する場合は、運営が定める手続きにより退会することができます。但し、利用者間の取引の決済等取引の手続きや、必要情報の入力漏れ等手続きに未了の事項がある等、退会処理を行うことが不都合と運営が判断する場合、運営は、アカウントの停止や機能の制限等必要な措置を取り、未了の事項がなくなるまで当該利用者の退会処理を保留することができるものとします。</li>
            <li>利用者において、第８条２項の禁止事項を含む本規約に違反し、運営の警告若しくは注意喚起にもかかわらず、当該違反行為が是正されない場合や、運営への営業妨害等により運営の事業の執行に支障が出た場合には、運営の判断によって、強制退会としたり、会員資格を一時的に停止したり、会員資格に伴う権利を取り消したり、又は、将来にわたって本サービスのご利用をお断りする場合があります。</li>
            <li>前項の規定により、強制退会となった場合には、運営は、当該利用者の退会処理を行うことが適切であると判断するときまで、当該利用者につき、アカウントの停止や機能の制限等必要な措置を取ることができるものとします。但し、当該利用者の強制退会及びこれに付随する措置に関連して、直接的又は間接的かにかかわらず、運営に何らかの損害が生じた場合には、強制退会後、当該損害について賠償する責を負うものとします。</li>
        </ol>
    <h3>第11条（利用者間の秘密保持）</h3>
        <ol>
            <li>利用者は、利用者間の取引又はその成立過程において、取引の相手方たる利用者から秘密である旨示されて開示される秘密情報、利用者間の取引遂行中に知り得た秘密情報及び取引の相手方たる利用者が保持する個人情報を、すべて秘密として保持し、利用者間の取引の目的以外には一切使用せず、第三者に一切開示、漏えいしないものとします。</li>
            <li>前項の規定に関わらず、以下のいずれかに該当することを利用者が証明したものついては、秘密情報から除かれるものとします。ただし、個人情報については第6号のみが適用されるものとします。
            </br>(1)既に公知、公用の情報。
            </br>(2)秘密情報の開示後に、利用者の責によらず公知、公用となった情報。
            </br>(3)開示を受けた時点で、既に知得していた情報。
            </br>(4)開示を受けた後、正当な権限を有する第三者から守秘義務を負うことなしに適法に入手した情報。
            </br>(5)開示者が、第三者に開示することを文書により承諾した情報。
            </br>(6)法令又は確定判決等により開示を義務付けられた情報（但し、当該義務の範囲内に限る）。
            </li>
            <li>利用者が、秘密情報を利用するにあたっては、開示目的を達成するために最小限必要な範囲・対象者に限定して開示するものとします。この場合、利用者は開示した相手方が秘密情報を漏洩もしくは開示目的以外に利用しないよう、監督その他の必要な措置を講ずる義務を負うものとします。</li>
            <li>利用者は、秘密情報を極秘にして扱い、全て合理的な安全管理体制及び漏洩防止手段を講じる義務を負うものとします。</li>
            <li>利用者は、利用者間の取引を開始する前に、必要に応じ、別途秘密保持契約を締結し、相互の秘密保持に努めるものとします。この別途秘密保持契約の締結の有無にかかわらず、本サイト上、本条に同意することを表示した利用者間では、利用者間の取引に関し、相互に本条に定める秘密保持義務を負うものとします。</li>
            <li>運営は、利用者間の取引における秘密保持につき、何らこれを保証するものではなく、何らの責任を負わないものとします。</li>
        </ol>
    <h3>第12条（知的財産権）</h3>
        <ol>
            <li>本サービスをご使用いただく際に運営に提供された情報が、運営でどのように取り扱われるかについて説明しています。利用者は、本サービスを利用することによって、本サービスおよびその関係会社がこれら情報を保管、処理、使用するために日本、および／またはその他の国々に転送することを含め、これら情報の収集および使用に同意することを理解しているものとします。</li>
            <li>利用者は、本サービス上にまたは本サービスを介して自ら送信、投稿または表示するあらゆるコンテンツに対する権利を留保するものとします。利用者のコンテンツは利用者のものです。すなわち、利用者のコンテンツ（他のコンテンツに組み込まれた利用者の音声、写真および動画も利用者のコンテンツの一部と考えられます）の所有権は利用者にあります。</li>
            <li>利用者は、本サービス上にまたは本サービスを介してコンテンツを送信、投稿または表示することによって、運営が、既知のものか今後開発されるものかを問わず、あらゆる媒体または配信方法を使ってかかるコンテンツを使用、コピー、複製、処理、改変、修正、公表、送信、表示および配信するための、世界的かつ非独占的ライセンス（サブライセンスを許諾する権利と共に）を運営に対し無償で許諾することになります（明確化のために、これらの権利は、たとえば、キュレーション、変形、翻訳を含むものとします）。このライセンスによって、利用者は、運営や他の利用者に対し、ご自身の投稿を世界中で閲覧可能とすることを承認することになります。利用者は、このライセンスには、コレテクが、コンテンツ利用に関する我ら運営の条件に従うことを前提に、本サービスを提供、宣伝および向上させるための権利ならびに本サービスに対しまたは本サービスを介して送信されたコンテンツを他の媒体やサービスで配給、放送、配信、プロモーションまたは公表することを目的として、その他の企業、組織または個人に提供する権利が含まれていることに同意するものとします。</li>
            <li>利用者は、本サービス上で依頼するにあたって投稿された文章、画像、動画、Youtube動画のI Dの動画、その他のコンテンツはそれぞれの依頼ごとに売買契約を締結した売り手が納品する目的のためにのみ編集や加工をし、公開する権利を保有するものとします。</li>
            <li>利用者は、本サービス上で依頼及び納品するにあたってYoutubeの動画のIDを掲載するには当YouTube動画の投稿者である、もしくは投稿者から許諾を得ている必要があります。</li>
            <li>利用者は、本サービス上で依頼及び納品するにあたって掲載されたYoutubeのIDの動画は我々運営が編集や加工をし、公開する権利を保有するものとします。</li>
        </ol>
    <h3>第13条（サービスの一時的な中断）</h3>
         <ol>
            <li>運営は、次の各号いずれかの事由に該当する場合、利用者に事前に通知することなく、一時的に本サービスの運営を中断することがあります。
            </br>(1)本サービスまたは関連設備の保守を定期的または緊急に行うとき。
            </br>(2)本サービスで利用する通信回線、電力等の提供が中断されたとき。
            </br>(3)火災、停電、地震、台風、洪水、津波等の天災や疫病の発生等、運営が支配できない事情（運営が利用しているサーバーで生じた事情を含みます。）により本サービスの運営ができないとき。
            </br>(4)その他運営が必要と判断したとき。
            </li>
            <li>運営は、事由の如何を問わず、前項に示す本サービスの運営の遅滞、中断または停止に起因して、利用者、顧客または第三者が損害を被った場合であっても、その責任を一切負わないものとします。</li>
        </ol>
    <h3>第14条（損害賠償）</h3>
        <ol>
            <li>本利用規約の履行に際し、運営が利用者に対する損害賠償義務を負う場合であっても、運営は利用者に現実に生じた通常損害（直接損害に限ります）に対して、利用者が過去1年間に運営に支払った利用代金の総額を限度額として責任を負うものとします。</li>
            <li>運営は運営の予見可能性の有無を問わず、逸失利益、間接損害や特別の事情により生じた損害については、利用者に対する賠償責任を負わないものとします。</li>
        </ol>
    <h3>第15条（免責事項）</h3>
        <ol>
            <li>本サービスの利用において、利用者の責に帰すべき理由より運営その他の第三者に損害が発生した場合または権利が侵害された場合、当該利用者は自己の費用と責任において損害を賠償し、または権利侵害状態を解消する等、これを解決するものとします。</li>
            <li>天災地変、戦争・暴動・内乱、法令の制定・改廃、公権力による命令・処分、ストライキ等の争議行為、輸送機関の事故、その他当事者の責に帰すことのできない事由による本利用規約に基づく債務の履行の遅滞または不能が生じた場合は、当該当事者はその責任を負わないものとします。</li>
            <li>運営は、以下の各号に該当する損害、ならびに以下の各号に付随する２次的なデータの漏洩、損失、損害にかかる賠償請求等の法的責任及び道義的責任を一切負わないものとします。
            </br>(1)運営が提供していないプログラムによって生じる損害。
            </br>(2)運営以外の第三者による不正な行為によって生じる損害。
            </br>(3)ハッカー及びクラッカーによるサーバーへの侵入または攻撃等の行為による損害。
            </br>(4)運営が本サービスのために用いるサーバーにおいて生じた事情により生じる損害。
            </br>(5)本サービスのバグによって生じる損害。
            </li>
            <li>運営は、本サービスについて、その完全性及び特定目的適合性その他の事項について保証するものではなく本サービスや本サイトの提供が中断することなく継続することを保証するものでもありません。</li>
            <li>運営は、前項に示す事由などにより本サービスや本サイトの提供が停止または中止した場合であっても、利用者や第三者に生じた損害について責任を負いません。</li>
            <li>運営は、本サービスに利用者がアップロードしたデータ・情報の真偽等に関しては、一切責任を負わないものとし、本サービスにアップロードされたデータ・情報の正確性や当該情報をアップデートする責任は、全て利用者にあります。</li>
            <li>運営は、本サイトにて第三者の広告の表示・掲載を行う場合がありますが、利用者において、本サイトでの広告を通じて第三者から商品・サービスを購入する等、第三者と何らかの契約をされる場合であっても、当該契約の当事者は利用者と第三者であって、運営はいかなる責任も負いません。</li>
            <li>利用者は、本サービスで保存するデータについて、自らバックアップを行う義務を負うものであって、運営は、本サービスにおいて、運営の管理下にあるインターネットサーバーに保管・蓄積される利用者のデータについてバックアップを行うものではありますが、運営によるバックアップにも関わらず、本サービスに保管・蓄積された利用者のデータが消失、毀損した場合であっても、運営は、利用者や第三者に対していかなる責任も負いません。</li>
        </ol>
    <h3>第16条（本サービスの終了）</h3>
        <ol>
            <li>運営は、相当の期間をもって利用者に通知の上、利用者に対する本サービス及び本サービスの一部を終了することができるものとします。但し、諸事情によって、上記事前通知を行うことが出来ない場合があり得ることをご了承ください。</li>
            <li>前項の通知は、本サイト上での掲示及び利用者への電子メールやWebサイト上への掲載によるものとします。</li>
            <li>本サービスを終了した場合であっても、利用者に対して本サービスは終了に伴い生じる損害、損失、その他の費用の賠償または補償を免れるものとします。</li>
        </ol>
    <h3>第17条（合意管轄等）</h3>
        <ol>
            <li>本利用規約の準拠法は日本法とし、本利用規約及び本サービスに関する一切の紛争について訴訟の必要が生じた場合、東京地方裁判所又は東京簡易裁判所を第一審の専属的合意管轄裁判所とします。</li>
        </ol>
    </div>
</div>