<div class="how_to_zone">
    <h2 class="zone_title">用語解説</h2>
    <div class="component_area">
		<div class="label_area">
			<label>「相談室」について</label>
		</div>
		<p>「相談室」とは回答者が相談に対して回答を募集できるサービスです。
		回答したい人が、この「相談室」毎に内容を自由に決めるて出品することで、質問したい人が質問できます。そして、回答を納品することで、報酬を獲得できます。
		詳しくは<%=link_to "相談室の出品方法", abouts_how_to_sell_path%>まで
		</p>
		</br>
		<div class="label_area">
			<label>「追加質問」・「追加回答」について</label>
		</div>
		<p>「追加質問」・「追加回答」とは、質問や回答を追加で投稿する機能です。
		追加質問の可否は、相談室毎に設定できます。よって相談室によっては追加質問ができないことがあります。
		追加回答は回答の納品とは別に、回答でき、回答とは別に追加回答は相談室関係なく可能です。
		</p>
		<div class="label_area">
			<label>「購入前質問」について</label>
		</div>
		<p>「購入前質問」とは、購入前に質問ができる機能です。
		相談したい内容が、回答者に可能か確認したい。
		そんな時に、回答者に確認をするための機能です。
		詳しい使い方は、<%= link_to "購入前質問の方法", abouts_how_to_pre_purchase_inquire_path %>まで
		</p>
    </div>
</div>