<div class="abouts_tokushou_zone about_zone">
    <div class="center_area">
        <h3 class="zone_title">特定商取引法に基づく表記</h3>
        <div class="component_area">
        <h3 class="h3_description"></h3>
        <label>事業者の名称及び連絡先</label></br>
        <h3 class="h3_description">コレテク</br>
        メールアドレス：corretech.official＠gmail.com</br>
        代表：長谷川　零</br>
        住所：
        </h3>
        <label>販売価格</label></br>
        <h3 class="h3_description">各商品の販売価格は各ページに記載しております（表示価格は消費税込みの金額です）。</h3>
        <label>支払方法</label></br>
        <h3 class="h3_description">クレジットカード決済のみ対応しています。</h3>
        <label>支払時期</label></br>
        <h3 class="h3_description">回答者が納品を完了したタイミングになります。</h3>
        <label>商品の提供時期</label></br>
        <h3 class="h3_description">商品購入の前、詳しくは商品ご購入時にご案内いたします。</h3>
        <label>商品価格以外に必要な料金</label></br>
        <h3 class="h3_description">インターネット接続に必要な通信回線等の諸費用</h3>
        <label>返品について</label></br>
        <h3 class="h3_description">お申込み後の返品又はキャンセルはできません。</h3>
        </div>
    </div>
</div>