<div class="review_new_zone input_new_zone input_area">
    <%= render "user/reviews/form", transaction: transaction %>
</div>
<script>
$('form').submit(function () {
  $(".review_new_zone").css("display","none")
});
</script>