@import '_variables';
.order_index_zone{
    .order_header_area{
        border-bottom: solid 1px lightgray;
        //background-color: red;
        .order_header_title{
            margin-top: 0px;
            margin-left: 15px;
            margin-bottom: 0px;
            overflow-x: scroll;
            display: flex;
            .current_condition{
                //background-color: white;
                //box-shadow: 0 0 2px lightgray;
                //padding: 5px;
                border-radius: 5px 5px 0px 0px;
                color: $link_text_color;
                border-bottom: solid 3px $link_text_color;
                flex-shrink: 0;
    
            }
            .link{
                color: dimgray;
                text-decoration: none;
                flex-shrink: 0;
            }
        }
    }
    .order_index_flame{
        .order_cell:hover{
            text-decoration: none;
        }
        $image_height: 80px;
        $image_width: 80px;
        .order_cell:hover{
            background-color: whitesmoke !important;
        }
    }
}
.below_500{
    display: none;
    @media(max-width:500px){
        display: block;
    }
}
.over_500{
    display: block;
    @media(max-width:500px){
        display: none;
    }
}