@import "_variables";
.order_show_zone{
    .links{
        margin: 0px;
        a{
            margin-bottom: 10px;
        }
    }
    .image{
        width: 100%;
    }
    $request_height: calc(100vw - 30px);//order_show_flameのmarginとpaddingの合計
    $under_500_request_height: calc((100vw - 30px) * 0.3);
    .service_area{}
    .service_request_area{
        max-height: 100px;
        height: $request_height;
        @media(max-width:500px){
            height: $under_500_request_height;
        }
        width: 100%;
        //float: left;
        .image_area{
            height: 100%;
            width: 30%;
            max-width: 140px;
            display: inline-block;
            float: left;
            .image{
                height: 100%;
                object-fit: cover;
            }
        }
        .text_area{
            display: inline-block;
            height: $request_height;
            @media(max-width:500px){
                height: $under_500_request_height;
            }
            max-height: 100px;
            min-width: calc(100% - 140px);
            width: 70%;
            float: left;
            a{
                color: $text_grey;
                text-decoration: underline;
            }
            .title_area{
                display: inline-block;
                padding-left: 5px;
                width: calc(100% - 5px);
            }
            .info{
                margin-left: 5px;
                display: inline-block;
                width: calc(100% - 5px);
                font-size: 14px;
                .price_area{
                    font-size: 15px;
                    font-weight: bold;
                    .unit{
                        font-size: 14px;
                        font-weight: lighter;
                    }
                    a{
                        text-decoration: none;
                    }
                    a:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}