@import "_variables";
.order_show_zone{
    .links{
        margin: 0px;
        a{
            margin-bottom: 10px;
        }
    }
    .image{
        width: 100%;
    }
    .service_area{}
    .service_request_area{
        height: 70px;
        width: 100%;
        display: flex;
        .image_area{
            height: 70px;
            width: 70px;
            display: flex;
            .image{
                height: 60px;
                width: 60px;
                margin: 5px;
                margin-left: 0px;
                object-fit: cover;
            }
        }
        .text_area{
            height: 70px;
            display: flex;
            flex: 1;
            flex-direction: column;
            justify-content: center;
            .title a{
                color: $text_grey;
                text-decoration: underline;
            }
            .user_name{
                color: grey;
                font-size: 13px;
            }
        }
    }
}