<div class="home_top_area">
	<div class="right_margin"></div>
	<div class="left_side">
		<div class="image_area">
			<div class="question_area">
				<%= image_tag "/質問者チャット.png", class:"top_image" %>
			</div>
			<div class="answer_area">
				<%= image_tag "/回答者チャット.png", class:"top_image right" %>
			</div>
		</div>
	</div>
	<div class="text_flame">
		<div class="text_area">
		    <h3 class='text large'>答えが、価値に変わる</h3>
		    <h3 class='text'>
				<span class="component">Q&Aサイトとフリマサイトが融合した</span></br>
				<span class="component">質問と回答のマーケットプレイス</span>
			</h3>
		</div>
	</div>
</div>