@import '_variables';
.chat_transaction_cell{
	cursor: pointer;
  	text-align: center;
  	color: $text_grey;
	display: flex;
  	.chat_transaction_cell_flame{
  	  	margin: 0 auto;
  	  	display: flex;
  	  	justify-content: space-between;
  	  	padding: 5px;
  	  	max-width: 300px;
  	}
	.price_area{
		max-width: 300px;
		//margin: 0 auto;
		//text-align: center;
		font-size: 25px;
		cursor: pointer;
		.price_label{
			font-size: 30px;
			color: darkred;
		}
		.unit{
			font-size: 20px;
		}
	}
  	.count_area{
		font-size: 20px;
    	display: flex;
    	align-items: center; /* 縦方向の中央揃え */
    	justify-content: center; /* 横方向の中央揃え（必要に応じて） */
  	}
}
.chat_transaction_cell:hover{
	background-color: whitesmoke;
  	text-decoration: none;
  	color: $text_grey;
}