$main-color: #A3B9E2;
$menu_height: 50px;
$menu_link_height: 20px;
$light_text_yellow: rgb(230, 230, 0);
$text_yellow: rgb(200, 200, 0);
$medium_text_yellow: rgb(150, 150, 0);
$dark_text_yellow: #646400;
$button_orange_hover: #FFC700;
$text_grey: #444444;
$link_blue: #195faa;
$background-color:rgb(260, 260, 245) ;//#FFFFEE;
$ok_green: #28a745;