<div class="order_header_area">
    <h3 class="order_header_title">
        <%=link_to "購入中", user_orders_path(user: "seller"), class:"link" %>　
        <span class="current_condition">未納品</span>
    </h3>
</div>