.product_cell_copy_area{
    background-color: white;
    box-shadow: 0 0 2px lightgrey;
    border-radius: 5px;
    margin: 5px;
    width: calc(100% - 10px);
    height: auto;
    text-decoration: none;
    color: black;
    .product_cell_flame{
        
        .user_image_area{
            display: inline-block;
            height: 70px;
            width: 65px;
            float: left;
            .user_image{
                height:50px;
                width: 50px;
                border-radius: 40px;
                margin-top: 10px;
                margin-left: 10px;
            }
        }
        .product_text_area{
            display: inline-block;
            width: calc(100% - 70px);
            h3{
                margin-top: 5px;
                margin-bottom: 0px;
                border-bottom: solid 1px lightgray;
            }
            .product_condition{
                display: inline-block;
                padding-left: 0px;
                margin-top: 0px;
                margin-bottom: 0px;
                
                .condition_name{
                    background-color: #EEEEEE;
                    margin-bottom: 0px;
                }
                li{
                    display: flex;
                    float: left;
                    padding: 2px;
                    margin-bottom: 0px;
                }
                .user_name{
                    float: right;
                }
            }
            .product_detail_text{
                margin-top: 0px;
                margin-bottom: 0px;
                font-size: 13px;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                overflow: hidden;
                -webkit-line-clamp: 2; 
            }
            
            .user_name{
                color: gray;
                font-size: 12px;
                margin-top: 0px;
                margin-bottom: 0px;
            }
        }
    }
    
}