@import 'variables';
.service_show_zone{
    overflow: hidden;
    .service_left_area{
        float: left;
        display: inline-block;
    }
    .sreview_area{
    }
    .service_area{
        background-color: white;
        border-radius: 10px;
        box-shadow: 0 0 2px lightgray;
        margin: 5px;
        .service_flame{
            margin: 0px 10px;
            width: calc(100% - 20px);
            .service_title_area{
                margin-top: 0px;
                .service_title{
                    margin: 0px;
                    font-size: clamp(20px, 3vw, 28px);
                    border-bottom: solid 2px lightgray;
                }
            }
            .share_zone{
                display: inline-block;
                display: block;
                width: 100%;
                height:30px;
                .share_area{
                    margin-right: 10px;
                }
            }
            .service_image_area{
                display: inline-block;
                //min-width: 200px;
                //max-width: 700px;
                margin-left: auto;
                margin-right: auto;
                width: 100%;
                .service_image{
                    width: 100%;
                    object-fit: cover;
                }
            }
            .service_detail_area{
                .service_detail{
                    margin-top: 0px;
                    white-space: pre-line;
                }
            }
            .transaction_button_area{
                margin-top: 30px;
                text-align: center;
                height: 50px;
                .transaction_button{
                    width: 30%;
                    min-width: 200px;
                    display: inline-block;
                    font-size: 15px;
                    border-radius: 3px 3px 3px 3px;
                    color: white;
                    background-color: darkgrey;
                    box-shadow: 0 0 2px lightgray;
                    padding: 5px 10px;
                    //border-bottom: solid 4px #627295;
                    text-decoration: none;
                }
                .transaction_button::before{
                    content: "Q.";
                    color: white;
                    font-size: 20px;
                    font-weight: 500;
                }
                .transaction_button:hover{
                    cursor: pointer;
                    background-color: lightgrey;
                    //border-bottom: solid 4px lightgray;
                }
                //.transaction_button:active {
                //    /*ボタンを押したとき*/
                //    -webkit-transform: translateY(4px);
                //    transform: translateY(4px);/*下に動く*/
                //    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
                //    border-bottom: none;
                //  }
            }
            .user_area{
                //height: 60px;
                border-radius: 10px;
                display: none;
                @media (max-width: 1000px) {
                    display: flex;
                }
                height: 100%;
                width: 100%;
                text-decoration: none;
                color: $text_grey;
                .star{
                    font-size: 15px;
                }
                .user_image{
                    display: flex;
                    height: 50px;
                    width: 50px;
                    object-fit: cover;
                    margin: 5px;
                    border-radius: 50%;
                }
                .right_side{
                    display: flex;
                    flex: 1;
                    flex-direction: column;
                }
                .user_name{
                    margin: 5px 5px 0px 5px ;
                    display: block;
                    width: calc(100% - 70px);
                    font-size: 18px;
                    font-weight: bold;
                    text-decoration: underline;
                    color: dimgrey;
                }
                .specifics_area{
                    display: block;
                    color: black;
                }
            }
            .user_label{
                display: none;
                @media (max-width: 1000px) {
                    display: block;
                }
            }
        }
    }
    #loading_animation{
        display: none;
    }
}
.purchase_button_area{
    float: left;
    .label_flame{
        width: calc(50% - 65px);
        height: 100%;
        font-size: 25px;
    }
    .discount_area{
        float: left;
    }
    .yen{
        font-size: 15px;
    }
    .fake_label_area{
        font-size: 15px;
    }
    .fake_label{
        font-size: 15px;
        position: relative;
    }
    .fake_label:after {
        content: '';
        display: block;
        width: 100%;
        height: 4px;
        margin-top: -3px;
        border-top: solid 1px #800000;
        border-bottom: solid 1px #800000;
        position: absolute;
        left: 0;
        top: 50%;
    }
    .discount{
        font-size: 8px;
    }
    .label_flame, .label_area{
        display: inline-block;
    }
    .bottom_button{
        display: inline-block;
        width: 50%;
        font-size: 15px;
        padding: 5px;
    }
    .transaction_button::before{
        content: "Q.";
        color: white;
        font-size: 20px;
        font-weight: 500;
    }
}
@media(max-width:1000px){
    .service_show_zone{
        max-width: 700px;
        margin-right: auto;
        margin-left: auto;
        .service_left_area{
            width: calc(100%);

        }
    }
}
@media(min-width:1000px){
    .service_show_zone{
        .service_left_area{
            width: calc(100% - 320px);
        }
    }
}