@import "_variables";
.suggestion_area:hover{
    //background-color: whitesmoke;
}
.suggestion_area{
    .service_link_area{
        //text-decoration: none;
        color: $link_text_color;
    }
    background-color: white;
    border: 1px solid lightgray;
    margin: 5px;
    padding: 0px 5px;
    border-radius: 5px;
    position: relative;
    .service_info_area{
        width: calc(100%);
        display: inline-block;
        margin-top: 5px;
    }
    .service_title{
        margin-bottom: 0px;
        margin-top: 20px;
        display: -webkit-box;
        margin: 0px;
        -webkit-box-orient: vertical;
        overflow: hidden;
        -webkit-line-clamp: 1;
        //text-decoration: underline;
        //border-bottom: solid 2px lightgray;
    }
    .tag_area{
        border-bottom: solid 2px lightgray;
        margin-bottom: 5px;
    }
    .service_condition_image{
        display: flex;
        justify-content: space-between;
        //align-items: flex-start;
        flex-wrap: nowrap;
        width: 100%;
        align-items: stretch;
        .service_image_area{
            flex-shrink: 0;
            display: flex;
            min-height: 40px;
            align-self: stretch;
            justify-content: space-between;
            width: 50px;
            position: relative;
            .service_image{
                position: absolute;
                border-radius: 5px;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .user_image_name_area{
            display: flex;
            flex-direction: row;
            flex: 1;
            .user_image{
                width: 30px;
                height: 30px;
                border-radius: 30px;
                margin: 5px;
                object-fit: cover;
            }
            .user_name_area{
                //width: calc(100% - 40px);
                height: 40px;
                display: flex;
                align-items: center;
                float: left;
                color: $text_grey;
                .user_name{
                    width: 100%;
                    font-size: 15px;
                    color: $text_grey;
                }
                .user_name:hover{
                    color: darkgray;
                }
            }
        }
        .service_condition_area{
            flex: 1;
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            justify-content: space-between;
            gap: 3px;
            padding: 5px;
            align-items: center;
            //flex-direction: column;
            .price_area{
                color: darkred;
                //width: 100%;
                .price{
                    font-size: 22px;
                    //color: $text_grey;
                }
            }
        }
    }
    .service_title_description_area{
        width: 100%;
        display: inline-block;
        margin-bottom: 0px;
        .service_description_title{
            font-weight: bolder;
        }
        .service_description{
            margin-bottom: 0px;
            display: inline-block;
            max-height: 50px;
            white-space: pre-line;
            width: 100%;
            margin: 0px;
            display: -webkit-box;
            margin: 0px;
            -webkit-box-orient: vertical;
            overflow: hidden;
            -webkit-line-clamp: 2;
            word-break: break-word;
            word-break: break-all;
        }
        /* その上で、下記のいずれかを指定する。overflow-wrapと併せて指定しましょう */
        word-break: break-word;
        word-break: break-all;
    }

    @media(max-width: 500px){//500px以下
        .service_info_area{
            height: auto;
        }
        .service_image_area{
            width: 100%;
            position: none;
            position: sticky;
        }
        .service_user_condition_image{
            width: 100%;
            float: none;
            .service_image{
                float: none;
                width: 100%;
            }
        }
        .service_image_area{
            max-width:none;
            .service_image{
                max-height: 150px;
                max-width: none;
            }
        }
    }
}

