@import "_variables";
.suggestion_area:hover{
    //background-color: whitesmoke;
}
.suggestion_area{
    .service_link_area{
        //text-decoration: none;
        color: blue;
    }
    background-color: white;
    border: 1px solid lightgray;
    margin: 5px;
    padding: 0px 5px;
    border-radius: 10px;
    position: relative;
    .top_user_image_name{
        display: none;
        @media(max-width: 500px){
            display: inline-block;
        }
    }
    .user_image_name_area{
        width: calc(100%);
       // width: 60px;
        //float: left;
        .user_image{
            width: 30px;
            height: 30px;
            border-radius: 30px;
            margin-top: 5px;
            margin-left: 5px;
            margin-right: 5px;
            float: left;
            object-fit: cover;
        }
        .user_name_area{
            width: calc(100% - 40px);
            height: 40px;
			display: flex;
			align-items: center;
            float: left;
            color: $text_grey;
            .user_name{
                display: inline-block;
                color: $text_grey;
            }
            .user_name:hover{
                color: darkgray;
            }
        }
    }
    .service_info_area{
        width: calc(100%);
        display: inline-block;
        margin-top: 5px;
    }
    .service_title{
        margin-bottom: 0px;
        margin-top: 20px;
        padding-left: 5px;
        display: -webkit-box;
        margin: 0px;
        -webkit-box-orient: vertical;
        overflow: hidden;
        -webkit-line-clamp: 1;
        //text-decoration: underline;
        color: $text_grey;
        border-bottom: solid 2px lightgray;
    }
    .service_condition_image{
        display: flex;
        justify-content: space-between;
        //align-items: flex-start;
        width: 100%;
        align-items: stretch;
        .user_image_name_area{
            display: inline-block;
            @media(max-width: 500px){
                display: none;
            }
        }
        .service_image_area{
            flex-shrink: 0;
            display: flex;
            min-height: 100px;
            align-self: stretch;
            width: 180px;
            @media(max-width: 500px){
                width: 50%;
            }
            position: relative;
            .service_image{
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .service_condition_area{
            flex: 1;
            //display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            justify-content: space-between;
            gap: 3px;
            padding: 5px;
            flex-direction: column;
            .price_area{
                width: 100%;
                .price{
                    font-size: 22px;
                    color: $text_grey;
                }
            }
        }
        .service_condition_user{
            height: 120px;
            float: left;
        }
        .service_condition_area{
            margin-bottom: 10px;
            font-size: 12px;
            .service_condition_icon{
                text-align: center;
            }
            .far, .fas{
                font-size: 12px;
                color: steelblue;
            }
            .condition_name{
                color: gray;
                text-decoration: underline;
                width: 200px;
            }
            .service_condition{
                margin-left: 10px;
            }
        }
    }
    .service_title_description_area{
        width: 100%;
        display: inline-block;
        margin-bottom: 0px;
        .service_description_title{
            font-weight: bolder;
        }
        .service_description{
            margin-bottom: 0px;
            display: inline-block;
            max-height: 50px;
            white-space: pre-line;
            width: 100%;
            margin: 0px;
            display: -webkit-box;
            margin: 0px;
            -webkit-box-orient: vertical;
            overflow: hidden;
            -webkit-line-clamp: 2;
            word-break: break-word;
            word-break: break-all;
        }
        /* その上で、下記のいずれかを指定する。overflow-wrapと併せて指定しましょう */
        word-break: break-word;
        word-break: break-all;
    }

    @media(max-width: 500px){//500px以下
        .service_info_area{
            height: auto;
        }
        .service_image_area{
            width: 100%;
            position: none;
            position: sticky;
        }
        .service_user_condition_image{
            width: 100%;
            float: none;
            .service_image{
                float: none;
                width: 100%;
            }
        }
        .service_image_area{
            max-width:none;
            .service_image{
                max-height: 150px;
                max-width: none;
            }
        }
    }
}

