
<div class="" id="display_setting">
  	<div class="answer_zone" id="canvas-box">
  	    <div class="answer_area">
  	        <div class="message_area" id="message_are">Q.<%= title%>
  	        <%= text%>
  	        </div>
  	    </div>
  	    <div class="title_area">
  	      	<h1 class="title">コレテク</h1>
  	      	<h1 class="title">〜稼げるQ&Aサイト〜</h1>
  	    </div>
  	</div>
</div>