@import "_variables";
.request_cell_area{
    margin: 5px;
    padding: 5px;
    border-radius: 2.5px;
    background-color: white;
    box-shadow: 0 0 2px lightgray;
    box-shadow: 1px 1px 3px gray;
    position: relative;
    .request_link{    
        text-decoration: none;
        color: $link_text_color;
    }
    .request_link:hover{
        text-decoration: underline;
    }
    .request_cell_flame{
        .request_title{
            
            margin: 0px 5px 5px 0px;
            border-bottom:1px solid lightgray;
            h3{
                margin: 0px;
                
            }
            .user_image{
                height: 15px;
                width: 15px;
                border-radius: 8px;
            }
            span{
                text-align: right;
                font-size:15px;
                font-weight: normal;
            }
        }
        .user_deadline{
            .deadline{
                //float: right;
                padding: 3px 5px;
                font-size: 12px;
                border-radius: 20px;
                color: white;
                margin-bottom: 5px;
            }
            .soon{
                background-color: red;
            }
            .ongoing{
                background-color: $ok_green;
            }
            .over{
                background-color: grey;
            }
        }
        .name_tag{
            //float: right;
        }
        .request_user_area{
            text-align: right;
            margin: 0px;
            .user_image{
                height: 15px;
                width: 15px;
                border-radius: 8px;
            }
        }
        .item_area{
            display: inline-block;
            float: left;
            .image{
                width: 100%;
                object-fit: cover;
            }
        }
        .request_condition_area{
            margin: 3px;
            z-index: 0.7;
            .request_condition_block{
                display: inline-block;
                margin-bottom: 3px;
            }
            .request_condition_title{
                font-size: 14px;
                padding: 4px 1px;
                //border-radius: 2px;
                color: black;
                background-color: #EEEEEE;
            }
            .content{
                color: $text_grey;
                font-size: 13px;
            }
            .request_condition{
                font-size: 20px;
                margin: 0px;
            }
        }
        .vertical_condition_area{
            height: 100px;
        }
    }
}

@media(max-width: 500px){
    .vertical_condition_area{
        display: none;
    }
    .request_cell_area{
        .request_cell_flame{
            h3{
                font-size: 17px;
            }
            .item_area{
                width: calc(100% - 10px);
                .image{
                    height: 100%;
                    max-height: 30vw;
                    object-fit: cover;
                }
            }
        }
    }
}
@media(min-width: 500px){
    .request_cell_area{
        .request_cell_flame{
            .item_area{
                width: calc(50% - 10px);
                width: calc(100px * 16 / 9);
                .image{
                    height: 100px;
                    width: 100%;
                }
            }
        }
    }
    .horizontal_condition_area{
        display: none;
    }
    .vertical_condition_area{
        display: inline-block;
    }
}