<div class="adjustable_image_area">
<div class="request_image_area container">
  	<% request.items.each do |item|%>
  	  	<%= image_tag item.file.url, class:"request_image", id:"request_image", onclick:"revealImage()"%>
  	<% end %>
  	<div class="button_area">
  	  	<button class="btn dli-chevron-down dli-chevron" id='btn' >
			<span class="fa-solid fa-angle-down"></span>
  	  		<span class="text" id="text">画像を開く</span>
			<span class="fa-solid fa-angle-down"></span>
  	  	</button>
  	</div>
</div>
</div>
<script>
function revealImage() {
  	$('.request_image_area').toggleClass('reveal');
  	$('.btn .fa-solid').toggleClass('fa-angle-down');
  	$('.btn .fa-solid').toggleClass('fa-angle-up');
  	$('.btn').css('top','-30px');
  	if ($('#text').text() === '画像を開く') {
    	$('#text').text('画像を閉じる');
  	} else {
    	$('#text').text('画像を開く');
  	}
}
</script>
<style>
</style>