<div class="adjustable_image_area">
<div class="request_image_area container">
  <% request.items.each do |item|%>
    <%= image_tag item.file.url, class:"request_image", id:"request_image", onclick:"revealImage()"%>
  <% end %>
  <div class="button_area">
    <button class="btn dli-chevron-down dli-chevron" id='btn' ></button>
  </div>
</div>
</div>
<script>
function revealImage() {
  $('.request_image_area').toggleClass('reveal');
  //$('.request_image_area button').text('全体を表示');
  //$('.reveal button').text('一部だけ表示');
  $('.btn').toggleClass('dli-chevron-up');
  $('.btn').toggleClass('dli-chevron-down');
}
</script>
<style>
</style>