<div class="request_image_area container">
  <%= image_tag request.image.url, class:"request_image", id:"request_image"%>
  <div class="button_area">
    <button class="btn" id='btn' onclick="revealImage()">全体を表示</button>
  </div>
</div>
<script>
function revealImage() {
  $('.request_image_area').toggleClass('reveal');
  $('.request_image_area button').text('全体を表示');
  $('.reveal button').text('一部だけ表示');
}
</script>
<style>
.container {
  height: 50%;
}
.request_image {
  display: block;
  width: 100%;
  height: auto;
  height: 100px;
  object-fit: cover;
}
.request_image_area > img {
  opacity: 0.5;
}
.reveal > img {
  height: 100%;
  opacity: 1.0;
}
.button_area {
  position: relative;
}
.btn {
  position: absolute;
  top: -40px;
  right: 0;
  left: 0;
  padding: 10px 20px;
  color: grey;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background-color: transparent;
}
</style>