<span class="category_button_area">
  	<div class="category_button">
  	  	<%= link_to category[:japanese_name], link.call(category), class:"category_link"%>
  	</div>
  	<% category[:child_categories].each do |category| %>
  	  	<div class="space"></div><%= render "user/shared/category_link", category:category, link: link %>
  	<% end %>
</span>