<div class="share_zone">
    <span class="share_area" id="twitter_share_area"></span>
    <span class="share_area" id="facebook_share_area"></span>
</div>
<%if Rails.env == "development"%>
    <%= javascript_pack_tag "user/shared/share_facebook_development" %>
    <%= javascript_pack_tag "user/shared/share_twitter_development" %>
<% else %>
    <%= javascript_pack_tag "user/shared/share_twitter" %>
    <%= javascript_pack_tag "user/shared/share_facebook" %>
<% end %>