<% if model.items.count == 1%>
    <%= link_to(model.items.last.file.url, class: 'link') do %>
        <%= image_tag model.items.last.file.thumb.url, class:"image"%>
    <% end %>
<% else %>
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <% model.items.each do |item| %>
                <%= link_to(item.file.url, class: 'link swiper-slide') do %>
					<%=
					if use_thumb
						image_tag item.file.thumb.url, class:"image"
					else
						image_tag item.file.url, class:"image"
					end
					%>
                <% end %>
            <% end %>
        </div>
        <div class="swiper-button-next swiper-button-custom"></div>
        <div class="swiper-button-prev swiper-button-custom"></div>
		<div class="swiper-pagination"></div>
    </div>
<% end %>
