<div class="announcement_index_zone">
    <div class="announcement_index_area">
        <div class="announcement_index_header"><h2 class="announce_title"><%= link_to "お知らせ一覧", user_announcements_path %> > お知らせ</h2>
            <div class="announce_cell_area component_area">
            <h3 class="announce_cell_title"><%=@announcement.title%></h3>
            <p class="announce_cell_body"><%=raw @announcement.body%></p>
            <div><%=  readable_datetime(@announcement.published_at)%></div>
        </div>
    </div>
</div>