<div class="category_bar">
<div>
<p>カテゴリー</p>
</div>
    <div class="category_bar_flame">
    <li><%= link_to "おすすめ", user_transactions_path %></li>
    <% category_tree.keys.each do |key|%>
        <li><%= link_to category_e_to_j(key), user_transactions_path(category:  key) %>
            <ul>
                <%category_tree[key].each do |category|%>
                <li><%= link_to category_e_to_j(category), user_transactions_path(category: category) %></li>
                <% end %>
            </ul>
        </li>
    <% end %>
    </div>
</div>