<span class="request_search_category">
    <span><input type="checkbox" class="e_sports checkbox" value="esport">Eスポーツ　</span>
    <span><input type="checkbox" class="apex checkbox" value="apex">Apex　</span>
    <span><input type="checkbox" class="splatoon checkbox" value="splatoon">スプラトゥーン</span>
</span>
<script>
var esports = document.getElementsByClassName("e_sports");
var apex = document.getElementsByClassName("apex");
var splatoon = document.getElementsByClassName("splatoon");
var checkbox = document.getElementsByClassName("checkbox");

var category_tree = {esports:[apex,splatoon]};


//チェックボックスが押された時、子カテゴリーと親カテゴリーのチェックを合わせる
for(let i=0; i<checkbox.length; i++){
    checkbox[i].addEventListener("change", function(){
        console.log("チェックボックス");
        var check_number = 0;
        
        if(i < checkbox.length/2){
            check_number = 0;
        }else{
            check_number = 1;
        }
        //親カテゴリーが押されたとき、子カテゴリーにもチェックを入れる
        if(checkbox[i].classList[0] == "e_sports"){
           
            //console.log(check_number);
            apex[check_number].checked = checkbox[i].checked;
            splatoon[check_number].checked = checkbox[i].checked;
            //子カテゴリーが外されたとき、親カテゴリーのチェックも外す
        }else if(["splatoon","apex"].includes(checkbox[i].classList[0])){
            if(checkbox[i].checked == false){
                esports[check_number].checked = false;
            }
        }
    })
}
</script>