<div class="index_link_zone">
    <div class="index_link_area">
        <%= link_to(user_services_path, class: "index_link") do %>
            <div class="index_link_text">サービスを探す</div>
        <% end %>
        <%= link_to(user_accounts_path, class: "index_link") do %>
            <div class="index_link_text">回答者を探す</div>
        <% end %>
        <%= link_to(user_requests_path, class: "index_link") do %>
            <div class="index_link_text">依頼質問を探す</div>
        <% end %>
    </div>
</div>