<div class="sidebar_notification_zone" id="sidebar_notification_zone">
    <div class="notification_margin sidebar_menu_margin" id="notification_margin">
    ×
    </div>
    <div class="menu_notification_cells_area side_menu" id="menu_notification_cells_area">
	    <%= render "user/shared/loading_animation" %>
    </div>
</div>