
<div class="sidebar_notification_zone" id="sidebar_notification_zone">
    <div class="notification_margin" id="notification_margin">
    ＜
    </div>
    <div class="menu_notification_cells_area side_menu" id="menu_notification_cells_area">
         
    </div>
</div>
<%=  javascript_pack_tag "layout/sidebar_notification" %>
<%= javascript_pack_tag "shared/xml_request" %>
<%= javascript_pack_tag "shared/check_scroll" %>