<!DOCTYPE html>
<html lang="ja" prefix="og: http://ogp.me/ns#">
  <%= render "layouts/head" %>
  <body class="body">
  	  	<div class="header" id="header">
  	  	  	<%=render "layouts/menu"%>
  	  	</div>
  	  	<%=render "layouts/top_margin"%>
    <div class="alert_main">
      <%= yield %>
    </div>
  </body>
</html>
