<!DOCTYPE html>
<html lang="ja" prefix="og: http://ogp.me/ns#">
  <%= render "layouts/head" %>
  <body class="body search_layout">
      <div class="header" id="header">
        <%=render "layouts/menu"%>
      </div>
      <div class="main_area">
        <%= yield %>
      </div>
    <%=javascript_pack_tag "layout/search_layout"%>
  </body>
</html>
