<!DOCTYPE html>
<html lang="ja" prefix="og: http://ogp.me/ns#">
  	<%= render "layouts/head" %>
  	<body class="body transaction_index_layout">
  	    <div class="header" id="header">
  	      	<%=render "layouts/menu"%>
  	    </div>
  	    <div class="main_area">
  	      	<%= yield %>
  	    </div>
  	</body>
  	<%=render "layout/javascript/search_layout.js.erb"%>
</html>
