@import "variables";
.user_show_zone{
    display: block;
    margin-top: 20px;
    border-radius: 10px;
    .user_profile_area{
        margin: 5px;
        width: calc(100% - 10px);
        height: auto;
        border-radius: 10px;
        background-color: white;
        box-shadow: 0 0 2px lightgray;
        .user_profile_introduction{
            border-radius: 10px;
            z-index: 1px;
            width: 100%;
            position: relative;
            @function header_image_height() {
                //幅が400pxの時に大きさが150pxになるように調整
                @return clamp(150px, calc(100vw * (150 / 400)), 200px);
            }
            $header_image_height: header_image_height();
            .header_image_area{
                border-radius: 10px;
                margin-top: 0px;
                background-color: $text_yellow;
                height: $header_image_height;
                .header_image{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .last_login_area{
               color: gray; 
            }
            @function user_image_height() {
                //幅が400pxの時に上から1000pxになるように調整
                @return clamp(70px, calc(100vw * (100 / 400)), 100px);
            }
            $user_image_height: user_image_height();
            .user_image_area{
                position: absolute;
                top: calc(#{$header_image_height} - (#{$user_image_height} / 2));
                left: clamp(10px, calc(100vw * (30 / 400)), 30px);
                .user_image{
                    object-fit: cover;
                    height: $user_image_height;
                    width: $user_image_height;
                    border-radius: $user_image_height;
                }
            }
            .user_edit_area{
                height: 40px;
                .user_edit{
                    font-size: 15px;
                    border: solid 2px lightgray;
                    color: black;
                    text-decoration: none;
                    border-radius: 20px;
                    padding: 7px;
                }

                .user_edit:hover{
                    background-color: lightgray;
                }
            }
        }
        .user_intro_area{
            width: 90%;
            margin-left: 5%;
            margin-top: 30px;
            border: 1px solid white;
            padding: 0 10px;
            transition: .5s;
        }
    }
    .user_detail{
        height: auto;
        max-width: 1000px;
        margin-left: 0px;
    }
    .loading_animation_area{
        display: none;
    }
}
.user_show_zone{
    margin: 0;
    width: 100%;
    .user_profile_area{
        .header_image_area{
            width: 100%;
        }
        .header_image_area{
            .header_image{
                border-radius:10px 10px 0px 0px;
            }
        }
        
        .last_login_area{
            font-size: 15px;
            font-weight: lighter;
            color: gray;
            display: inline-block;
        }
        .last_login1{
            display: none;
        }
        .user_edit_area{
            text-align: right;
            margin-top: 10px;
            margin-right: 10px;
            .user_edit:hover{
                background-color: lightgray;
            }
        }
        .user_edit2{
            display: none;
        }
        .user_name_area{
            margin-left: 10px;
            margin-right: 10px;
            .user_name{
                margin: 0px;
            }
        }
        .specifics_area{
            margin: 5px;
            font-size: 20px;
            .specific{
                margin-right: 15px;
            }
            .star{
                font-size: 16px;
            }
            .unit{
                font-size: 15px;
            }
        }
        .category_area{
            margin: 5px 10px;
        }
        .user_basic_info{
            margin-left: 10px;
            .user_info_table{
                width: auto;
            }
        }
        .description_area{
            margin: 0px 5px;
        }
        
    }
}