.star5_rating{
            float: none;
        }
.user_info_table{
    border: none;
    min-width: 220px;
    td{
        border: none;
    }
    .user_info_name{
        color: dimgray;
        float: left;
        width: 70px;
        font-size: 12px;
        background-color: #EEEEEE;
        text-align: center;
        border-radius: 2px;
        margin: 2px;
        label{
            padding: 2px 4px ;
        }
    }
    .user_info{
        float: left;
    }
}